<section class="work-section py-3">
  <h3 class="text-uppercase cv-section-heading mb-4">Career History</h3>
  <div class="item mb-3">

    <!-- MHR as a Python Web Engineer -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Python Web Engineer</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">MHR | Jan 21 - Present</div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Implemented advanced user activation system with connected profile model, one-time activation link
          using tokens, celery tasks for email verification, and device and email driven two-factor authentication.
        </li>
        <li>
          Created filterable dynamic HTML data tables using the DataTables.js API.
        </li>
        <li>
          Written many Python scripts to automate Jenkins pipelines.
        </li>
      </ul>
    </div>

    <!-- Deutsche Bank as HR BI Consultant -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">HR BI Specialist</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Deutsche Bank | Nov 16 - May 19</div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Designed and developed a salary ranges VBA tool enabling employee target ranges
          to be cost-contained for a global cost catalyst initiative led by the
          Chief Financial Officer.
        </li>
        <li>
          Developed Access / Excel VBA solutions automating assignment of inbound
          team emails and sending of email broadcasts to circa 40,000 employees.
        </li>
        <li>
          Transformed interactive dashboards and key messages insights for global
          Senior Executive Compensation Committee to illustrate and rationalise
          compensation across the bank.
        </li>
      </ul>
    </div>

    <!-- Admin Re UK as BI Developer & Data Migration Specialist -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">BI Developer & Data Migration Specialist</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Admin Re UK | May 16 - Nov 16</div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Managed comprehensive end-to-end data migration programme from existing HR administration
          and payroll providers onto single consolidated platform managing downstream system
          stakeholders and external consultants.
        </li>
        <li>
          Developed advanced VBA recruitment and data management solutions to effect robust
          data integrity, positive manager experiences, and streamlined operational efficiency.
        </li>
      </ul>
    </div>

    <!-- Deutsche Bank as HR MIS Specialist -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">HR MIS Specialist</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Deutsche Bank | Nov 15 - May 16</div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Co-ordinated centralised data for over 91,000 employees to implement a global Total
          Compensation Framework. This included the allocation of mandatory, discretionary,
          and promotion budget spend.
        </li>
        <li>
          Managed compensation planning and employee maintenance serving as data custodian,
          process owner, and stakeholder manager to divisional and regional reward advisors
          to enable management of employee populations.
        </li>
        <li>
          Created system to co-ordinate over 10,000 corrections making system updates and
          ensuring data integrity and audit requirements were adhered to.
        </li>
      </ul>
    </div>

    <!-- Admin Re UK as HR Systems & MI Team Leader -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">HR Systems & MI Team Leader</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Admin Re UK | Sep 12 - Nov 15</div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Created technical data feeds solution to automate downstream business systems
          supporting general ledgers, business modelling, and systems and facilities access.
        </li>
        <li>
          Developed inputs to a data warehousing solution enabling HR and finance to align
          datasets for commercial analysis. Engagement of Strategic Change to introduce
          ‘FTE Resource Tracker’ as model owner, SME, and escalation point.
        </li>
        <li>
          Created a census “flight tracker” for business transformation, employee exit
          planning, and redundancy calculations.
        </li>
        <li>
          Facilitated change, project, and risk management through quality assurance
          and product/process reviews.
        </li>
        <li>
          Created MI reporting suite to enable self-service business intelligence.
        </li>
      </ul>
    </div>

    <!-- Extras -->
    <small>Roles prior to September 2012 include HR Systems & MI Consultant,
      Stock Controller and Production Team Leader.
    </small>
  </div>
</section>
