<div class="cv-intro">
  <div class="media flex-column flex-md-row align-items-center">
    <div class="media-body text-left">
      <p class="mb-0">
        An innovative Python Web Engineer with extensive skills with Django web development
        building intuitive, interactive, and scalable web apps.
      </p>
      <p class="mb-0 py-2">
        Engages product and engineering managers providing development updates and specialist
        application guidance and expertise. Enjoys collaborating in teams to transform client outcomes.
      </p>
    </div>
  </div>
</div>
