<div class="cv-intro">
  <div class="media flex-column flex-md-row align-items-center">
    <div class="media-body text-left">
      <p class="mb-0">
        An innovative Python Web Engineer with extensive skills in Django web development and a
        deep commercial history in automation, application development, and Business Intelligence.
      </p>
      <p class="mb-0 py-2">
        Engages clients and senior managers providing project updates and specialist product and
        business applications guidance. Enjoys collaborating in teams to transform business outcomes.
      </p>
    </div>
  </div>
</div>
