<div class="cv-intro">
  <div class="media flex-column flex-md-row align-items-center">
    <div class="media-body text-left">
      <p class="mb-0">
        An innovative Senior Django Developer with extensive skills in Python building intuitive, interactive, and scalable apps.
      </p>
      <p class="mb-0 py-2">
        Collaborates and steers product managers with subject matter expertise and guidance for future product developments.
      </p>
      <p class="mb-0 py-2">
        Assists engineering managers to understand architectural constraints and requirements and
        liaising with other service departments to ascertain and optimise setup based upon requirements and cost constraints.
      </p>
    </div>
  </div>
</div>
