div.posts {
  margin: 0px;
}

h1.item_title {
  font-size: 18pt;
}

h3.item_title {
  font-size: 14pt;
}

h5.item_author {
  font-size: 12pt;
}

h5.item_publish_date {
  font-size: 10pt;
}

h5.item_updated_date {
  font-size: 41pt;
}

span.item_body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12pt;
}

.ant-page-header-content {
  padding-top: 0px;
}

.ant-page-header {
  position: fixed;
  z-index: 1;
  height: 0px;
  width: 100%;
  margin: 0px;
  padding: 0 0 0 0;
}

.ant-menu-item {
  padding: 0px 2px 0px 15px;
}

#btn-home {
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

#btn-home:hover {
  background-color: lightgray;
}

.post-title {
  font-size: 24pt;
  color: #000000;
  padding: 10px 0px 40px 0px;
}

.post-title:hover {
  font-size: 24pt;
  color: blue;
  text-decoration: underline;
}

.ant-menu {
  position: fixed;
  background-color: #563C7C;
  padding-left: 8px;
  text-align: left;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 100%;
}

.ant-menu-item {
  font-size: 11pt;
  vertical-align: middle;
  color: white;
  padding-left: 6px;
  padding-bottom: 10px;
}

.ant-layout-footer {
  padding: 15px 25px;
}

.site-footer {
  width: 100%;
  position: fixed;
  background-color: #563C7C;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: normal;
  font-weight: normal;
  line-height: 0px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-links {
  float: right;
  font-weight: normal;
  color: #ffffff;
}

.footer-links:hover {
  float: right;
  text-decoration: underline;
  font-weight: normal;
  color: #ffffff;
}

.site-content {
  width: 100%;
  padding: 50px 150px 70px 150px;
  margin-top: 0;
  min-height: 200px;
}

.author {
  float: left;
  padding: 20px 0 20px 0;
}

.post-image {
  float: right;
  padding: 20px;
}


#article-image-small {
  float: right;
  vertical-align: top;
  padding: 2px;
  border: 1px solid #2e79b5;
  text-align: right;
  height: 100px;
  width: 100px;
}

.content {
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}