<div class="isotope-item col-md-6 mb-5 pythonapp">
  <div class="card project-card">
    <div class="row no-gutters">
      <div class="col-lg-4 card-img-holder">
        <img src="static/assets/images/project/project-4.jpg" class="card-img" alt="image">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'countdown_numbers:selection' %}" 
            class="theme-link">Countdown Numbers</a>
          </h5>
          <p class="card-text">Insert blurb here</p>
        </div>
      </div>
    </div>
    <div class="link-mask">
      <a class="link-mask-link" href="{% url 'countdown_numbers:selection' %}"></a>
      <div class="link-mask-text">
        <a class="btn btn-secondary" href="{% url 'countdown_numbers:selection' %}">
          <i class="fas fa-eye mr-2"></i>View Case Study
        </a>
      </div>
    </div>
  </div>
</div>