{% load static %}

<div class="isotope-item col-md-6 mb-5 pythonapp">
  <div class="card project-card">
    <div class="row no-gutters">
      <div class="col-lg-4 card-img-holder">
        <img src="{% static 'assets/images/project/matrix_numbers.jpg' %}" class="card-img" alt="image">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'text_analysis:analyse' %}" 
            class="theme-link">Text Analysis</a>
          </h5>
          <p class="card-text">Calculate the number of words and letters input/pasted by the user.</p>
        </div>
      </div>
    </div>
    <div class="link-mask">
      <a class="link-mask-link" href="{% url 'text_analysis:analyse' %}"></a>
      <div class="link-mask-text">
        <a class="btn btn-secondary" href="{% url 'text_analysis:analyse' %}">
          <i class="fas fa-eye mr-2"></i>
          Analyse Text
        </a>
      </div>
    </div>
  </div>
</div>