/*************************** Theme Colours****************************/
$sidebar-width: 280px;
$single-col-max-width: 820px;

// Define theme colour scheme
$theme-color-primary: #1762dd;

$theme-text-color-primary: #292929;
$theme-text-color-secondary: lighten($theme-text-color-primary, 15%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);
$theme-bg-light: #fafafa;
$theme-bg-dark: #223142;
$theme-border-color:  lighten($theme-text-color-primary, 60%);
$smoky-white: #fafafa;
$theme-error: #d9603c;
$countdown-game-color: #1c3297;
$countdown-letter-number-divider-color: #70a1d8;

// Footer Colours
$theme-color-footer: #0e83cd;
$theme-color-bottom-bar: #444;
$github-primary-color: #292e35;
$grey: #999;

/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.
$gray-100: lighten($theme-text-color-primary, 60%);
$gray-200: lighten($theme-text-color-primary, 55%);
$gray-300: lighten($theme-text-color-primary, 50%);
$gray-400: lighten($theme-text-color-primary, 45%);
$gray-500: lighten($theme-text-color-primary, 40%);
$gray-600: lighten($theme-text-color-primary, 30%);
$gray-700: lighten($theme-text-color-primary, 20%);
$gray-800: lighten($theme-text-color-primary, 10%);
$gray-900: $theme-text-color-primary;

$theme-colors: (
  "primary":  $theme-color-primary, 
  "secondary":  $theme-text-color-secondary, 
);

/**************************** Import Bootstrap ******************************/
@import "bootstrap/scss/bootstrap.scss";

/***************************** Imports Section ******************************/
@import "theme/mixins";
@import "theme/base";
@import "theme/home";
@import "theme/portfolio";
@import "theme/services";
@import "theme/cv";
@import "theme/blog";
@import "theme/footer";
@import "theme/tables";
@import "theme/text-analysis";
@import "theme/roulette";
@import "theme/countdown";
@import "theme/error-pages.scss";
@import "theme/responsive";
@import "theme/darkmode";
