{% extends 'base.html' %}
{% load ext_links %}

{% block title %}{{ block.super }} | Text Analysis{% endblock title %}

{% block content %}
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <div class="count-words">
        <!-- Quote card -->
        <div class="card theme-bg-light mt-4">
          <div class="card-header">
            <strong>Analysed Text:</strong>
          </div>
          <div class="card-body">
            <p><em>{{ orig_full_text }}</em></p>
            <div class="card theme-bg-light col-5 mt-4 p-2">
              <strong>Number of words analysed: {{ word_count }}</strong>
            </div>
          </div>
        </div>

        <hr class="col-8">
        <p>The individual words along with their count of occurences is:</p>

        <div class="module-content collapse show" id="content-1">
          <div class="module-content-inner pb-0">
            <div class="table-responsive">
              <table class="table table-striped app-table-hover table-sm display col-4">
                <thead class="bg-primary text-white">
                  <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                {% for word, count_total in sorted_words %}
                  <tr>
                    <th scope="row">{{ word }}</th>
                    <td>{{ count_total }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr class="col-8">
      <div class="count-letters mb-4">
        <p>The individual count of occurences and appearance rate for each letter is:</p>
        <table class="table table-striped app-table-hover table-sm display col-4">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col">Letter</th>
              <th scope="col">Count & %</th>
            </tr>
          </thead>
          <tbody>
            {% for letter in letter_count %}
              <tr>
                <th scope="row">{{ letter.0|upper }}</th>
                <td>{{ letter|slice:"3:" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--- Start Again Button -->
      <a href="{% url 'text_analysis:analyse' %}" class="btn btn-sm btn-success mr-10">
        <i class="fa fa-repeat mr-1"></i>
        Start Again
      </a>
      <!--- View Code on GitHub Button -->
      <a href="{% text_analysis_views_source_code_link %}" target="_blank" rel="noreferrer"
        class="btn btn-link btn-github mr-2 ml-2">
        <i class="fa fa-github mr-1"></i>
        View Code
      </a>
    </div>
  </article>
{% endblock content %}
