{% extends 'base.html' %}
{% load static %}
{% load ext_links %}

{% block title %}{{ block.super }} | Text Analysis{% endblock title %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      {% include 'text_analysis/components/game_title.html' %}
    </div>
  </section>
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <div class="count-words">
        <p>Number of words analysed: {{ word_count }}</p>
        <p>The entire text string analysed was:<br></p>
        <div class="alert alert-info" role="alert">
          <em><p>"{{ orig_full_text }}"</p></em>
        </div>
        <hr class="col-8">
        <p>The individual words along with their count of occurences is:</p>
          <table class="table table-striped table-sm col-4">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Word</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
            {% for word, count_total in sorted_words %}
              <tr>
                <th scope="row">{{ word }}</th>
                <td>{{ count_total }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
      <hr class="col-8">
      <div class="count-letters mb-4">
        <p>The individual count of occurences and appearance rate for each letter is:</p>
        <table class="table table-striped table-sm col-4">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Letter</th>
              <th scope="col">Count & %</th>
            </tr>
          </thead>
          <tbody>
            {% for letter in letter_count %}
              <tr>
                <th scope="row">{{ letter.0|upper }}</th>
                <td>{{ letter|slice:"3:" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--- Start Again Button -->
      <a href="{% url 'text_analysis:analyse' %}" class="btn btn-sm btn-success mr-10">
        <i class="fa fa-repeat mr-1"></i>
        Start Again
      </a>
      <!--- View Code on GitHub Button -->
      <a href="{% text_analysis_views_source_code_link %}" target="_blank"
        class="btn btn-link btn-github mr-2 ml-2">
        <i class="fa fa-github mr-1"></i>
        View Code
      </a>
    </div>
  </article>
{% endblock content %}