interactions:
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/lemmas/en-gb/random
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to target URL: <a href="/api/v2/lemmas/en/random">/api/v2/lemmas/en/random</a>.  If
        not click the link.'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v2/lemmas/en/random
      api_version:
      - v2
      code_version:
      - v2.8.0-g4f069ea
    status:
      code: 301
      message: MOVED PERMANENTLY
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/lemmas/en/random
  response:
    body:
      string: "{\n    \"metadata\": {\n        \"provider\": \"Oxford University Press\"\n
        \   },\n    \"results\": [\n        {\n            \"id\": \"random\",\n            \"language\":
        \"en\",\n            \"lexicalEntries\": [\n                {\n                    \"inflectionOf\":
        [\n                        {\n                            \"id\": \"random\",\n
        \                           \"text\": \"random\"\n                        }\n
        \                   ],\n                    \"language\": \"en\",\n                    \"lexicalCategory\":
        {\n                        \"id\": \"adjective\",\n                        \"text\":
        \"Adjective\"\n                    },\n                    \"text\": \"random\"\n
        \               },\n                {\n                    \"inflectionOf\":
        [\n                        {\n                            \"id\": \"random\",\n
        \                           \"text\": \"random\"\n                        }\n
        \                   ],\n                    \"language\": \"en\",\n                    \"lexicalCategory\":
        {\n                        \"id\": \"noun\",\n                        \"text\":
        \"Noun\"\n                    },\n                    \"text\": \"random\"\n
        \               }\n            ],\n            \"word\": \"random\"\n        }\n
        \   ]\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      api_version:
      - v2
      code_version:
      - v2.8.0-g4f069ea
    status:
      code: 200
      message: OK
version: 1
