interactions:
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/lemmas/en-gb/swimming
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

        <title>Redirecting...</title>

        <h1>Redirecting...</h1>

        <p>You should be redirected automatically to target URL: <a href="/api/v2/lemmas/en/swimming">/api/v2/lemmas/en/swimming</a>.  If
        not click the link.'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v2/lemmas/en/swimming
      api_version:
      - v2
      code_version:
      - v2.8.0-g4f069ea
    status:
      code: 301
      message: MOVED PERMANENTLY
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/lemmas/en/swimming
  response:
    body:
      string: "{\n    \"metadata\": {\n        \"provider\": \"Oxford University Press\"\n
        \   },\n    \"results\": [\n        {\n            \"id\": \"swimming\",\n
        \           \"language\": \"en\",\n            \"lexicalEntries\": [\n                {\n
        \                   \"inflectionOf\": [\n                        {\n                            \"id\":
        \"swim\",\n                            \"text\": \"swim\"\n                        }\n
        \                   ],\n                    \"language\": \"en\",\n                    \"lexicalCategory\":
        {\n                        \"id\": \"verb\",\n                        \"text\":
        \"Verb\"\n                    },\n                    \"text\": \"swimming\"\n
        \               },\n                {\n                    \"grammaticalFeatures\":
        [\n                        {\n                            \"id\": \"mass\",\n
        \                           \"text\": \"Mass\",\n                            \"type\":
        \"Countability\"\n                        }\n                    ],\n                    \"inflectionOf\":
        [\n                        {\n                            \"id\": \"swimming\",\n
        \                           \"text\": \"swimming\"\n                        }\n
        \                   ],\n                    \"language\": \"en\",\n                    \"lexicalCategory\":
        {\n                        \"id\": \"noun\",\n                        \"text\":
        \"Noun\"\n                    },\n                    \"text\": \"swimming\"\n
        \               }\n            ],\n            \"word\": \"swimming\"\n        }\n
        \   ]\n}"
    headers:
      Content-Type:
      - application/json;charset=utf-8
      api_version:
      - v2
      code_version:
      - v2.8.0-g4f069ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/words/en-gb?q=SWIMMING
  response:
    body:
      string: "{\n    \"metadata\": {\n        \"operation\": \"retrieve\",\n        \"provider\":
        \"Oxford University Press\",\n        \"schema\": \"RetrieveEntry\"\n    },\n
        \   \"query\": \"swimming\",\n    \"results\": [\n        {\n            \"id\":
        \"swimming\",\n            \"language\": \"en-gb\",\n            \"lexicalEntries\":
        [\n                {\n                    \"entries\": [\n                        {\n
        \                           \"grammaticalFeatures\": [\n                                {\n
        \                                   \"id\": \"mass\",\n                                    \"text\":
        \"Mass\",\n                                    \"type\": \"Countability\"\n
        \                               }\n                            ],\n                            \"inflections\":
        [\n                                {\n                                    \"inflectedForm\":
        \"swimming\"\n                                }\n                            ],\n
        \                           \"pronunciations\": [\n                                {\n
        \                                   \"audioFile\": \"https://audio.oxforddictionaries.com/en/mp3/swimming_gb_1.mp3\",\n
        \                                   \"dialects\": [\n                                        \"British
        English\"\n                                    ],\n                                    \"phoneticNotation\":
        \"IPA\",\n                                    \"phoneticSpelling\": \"\u02C8sw\u026Am\u026A\u014B\"\n
        \                               }\n                            ],\n                            \"senses\":
        [\n                                {\n                                    \"definitions\":
        [\n                                        \"the sport or activity of propelling
        oneself through water using the limbs\"\n                                    ],\n
        \                                   \"domainClasses\": [\n                                        {\n
        \                                           \"id\": \"swimming\",\n                                            \"text\":
        \"Swimming\"\n                                        }\n                                    ],\n
        \                                   \"examples\": [\n                                        {\n
        \                                           \"text\": \"Rachel had always
        loved swimming\"\n                                        },\n                                        {\n
        \                                           \"notes\": [\n                                                {\n
        \                                                   \"text\": \"as modifier\",\n
        \                                                   \"type\": \"grammaticalNote\"\n
        \                                               }\n                                            ],\n
        \                                           \"text\": \"a swimming instructor\"\n
        \                                       }\n                                    ],\n
        \                                   \"id\": \"m_en_gbus1021020.005\",\n                                    \"semanticClasses\":
        [\n                                        {\n                                            \"id\":
        \"water_sport\",\n                                            \"text\": \"Water_Sport\"\n
        \                                       }\n                                    ],\n
        \                                   \"shortDefinitions\": [\n                                        \"sport
        or activity of propelling oneself through water using limbs\"\n                                    ]\n
        \                               }\n                            ]\n                        }\n
        \                   ],\n                    \"language\": \"en-gb\",\n                    \"lexicalCategory\":
        {\n                        \"id\": \"noun\",\n                        \"text\":
        \"Noun\"\n                    },\n                    \"text\": \"swimming\"\n
        \               }\n            ],\n            \"type\": \"headword\",\n            \"word\":
        \"swimming\"\n        },\n        {\n            \"id\": \"swim\",\n            \"language\":
        \"en-gb\",\n            \"lexicalEntries\": [\n                {\n                    \"derivatives\":
        [\n                        {\n                            \"id\": \"swimmable\",\n
        \                           \"text\": \"swimmable\"\n                        }\n
        \                   ],\n                    \"entries\": [\n                        {\n
        \                           \"etymologies\": [\n                                \"Old
        English swimman (verb), of Germanic origin; related to Dutch zwemmen and German
        schwimmen\"\n                            ],\n                            \"grammaticalFeatures\":
        [\n                                {\n                                    \"id\":
        \"intransitive\",\n                                    \"text\": \"Intransitive\",\n
        \                                   \"type\": \"Subcategorization\"\n    [...]
