interactions:
- request:
    body: null
    headers:
      app_id:
      - DUMMY
      app_key:
      - DUMMY
    method: GET
    uri: https://od-api.oxforddictionaries.com/api/v2/words/en-gb?q=strove
  response:
    body:
      string: "{\n    \"metadata\": {\n        \"operation\": \"retrieve\",\n        \"provider\":
        \"Oxford University Press\",\n        \"schema\": \"RetrieveEntry\"\n    },\n
        \   \"query\": \"strove\",\n    \"results\": [\n        {\n            \"id\":
        \"strive\",\n            \"language\": \"en-gb\",\n            \"lexicalEntries\":
        [\n                {\n                    \"derivatives\": [\n                        {\n
        \                           \"id\": \"striver\",\n                            \"text\":
        \"striver\"\n                        }\n                    ],\n                    \"entries\":
        [\n                        {\n                            \"etymologies\":
        [\n                                \"Middle English: shortening of Old French
        estriver; related to estrif \u2018strife\u2019\"\n                            ],\n
        \                           \"grammaticalFeatures\": [\n                                {\n
        \                                   \"id\": \"intransitive\",\n                                    \"text\":
        \"Intransitive\",\n                                    \"type\": \"Subcategorization\"\n
        \                               }\n                            ],\n                            \"inflections\":
        [\n                                {\n                                    \"grammaticalFeatures\":
        [\n                                        {\n                                            \"id\":
        \"intransitive\",\n                                            \"text\": \"Intransitive\",\n
        \                                           \"type\": \"Subcategorization\"\n
        \                                       },\n                                        {\n
        \                                           \"id\": \"past\",\n                                            \"text\":
        \"Past\",\n                                            \"type\": \"Tense\"\n
        \                                       }\n                                    ],\n
        \                                   \"inflectedForm\": \"strove\",\n                                    \"pronunciations\":
        [\n                                        {\n                                            \"audioFile\":
        \"https://audio.oxforddictionaries.com/en/mp3/strove_gb_1.mp3\",\n                                            \"dialects\":
        [\n                                                \"British English\"\n                                            ],\n
        \                                           \"phoneticNotation\": \"IPA\",\n
        \                                           \"phoneticSpelling\": \"str\u0259\u028Av\"\n
        \                                       }\n                                    ]\n
        \                               },\n                                {\n                                    \"grammaticalFeatures\":
        [\n                                        {\n                                            \"id\":
        \"intransitive\",\n                                            \"text\": \"Intransitive\",\n
        \                             [...]
