{% extends 'base.html' %}

{% block title %}{{ block.super }} | Reading List{% endblock title %}

{% block content %}
  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Reading List</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">Below are the books that I have studied in the domain
        of programming and web development that I enjoyed the most and derived the most benefit.
        I hope that you enjoy them as much as I did.</p>
      </div>
    </div>
  </section>

  <!-- Last Updated Date -->
  <div class="container mt-2 text-right">
    <p class="text-small text-muted">
      <strong>Last Updated: </strong> 23-Jul-20
    </p>
  </div>

  <section class="project py-3">
    <div class="container">
      <h3 class="project-section-title mb-1">Theoretical Books</h3>
    </div>
  </section>

  <!--- Clean Code -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/clean-code.png" alt="Clean Code">
        <div class="media-body">
          <div class=" site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <strong><a href="https://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship-ebook/dp/B001GSTOAM/" target="_blank">Clean Code</a></strong>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>A Handbook of Agile Software Craftmanship</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Robert C. Martin</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                Code that is difficult to understand carries with it 'technical debt' which
                becomes a direct time cost to the programmers maintaining it as well as a
                financial cost to a company's bottom line. It is often said that programmers
                spend 10 times the amount reading code as they do writing it. Bob Martin
                teaches how to write and maintain clean code.
              </p>
              <p>
                A few key takeaway points from the book include:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Give elements such as classes, functions and variables meaningful names
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Observe the DRY principle (Don't Repeat Yourself)
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Leave the code in a better place than when you found it
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Keep function sizes small. They should do one thing and do it well!
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Design functions to take fewer arguments
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Comments should explain why code is in place. The code itself should explain what it does
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Keep lines of code short for readability
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Use just one assertion per test
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Data Structures and Algorithms -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/data-structures-and-algorithms.png" alt="Data Structures and Algorithms">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <strong><a href="https://www.amazon.co.uk/Common-Sense-Guide-Data-Structures-Algorithms/dp/1680507222/" target="_blank">A Common Sense Guide to Data Structures and Algorithms</a></strong>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Level Up Your Core Programming Skills</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Jay Wengrow</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                The promise of this book is to teach about the various data structures and algorithms
                that are on offer to a programmer, which one is the most suited to a particular problem
                and the efficiency of the potential solutions. The book's objective is to demonstrate this
                with the smallest amount of maths as possible.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Big O notation is the tool used to evaluate the efficiency/complexity of an algorithm
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How binary search works and its relationship with base two logarithms
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Various implementations of sorting algorithms with their differences explained
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use stacks and queues
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Using node based structures in your programs
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to look up data using hash tables
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How and when to use recursion
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to speed up your code with binary trees
                </li>
              </ul>
            </div>
          </div>
          <p class="text-small"><strong>Note:</strong> The image on this post is the first
          edition of the book since that's the version I studied. Upon setting up the hyperlink
          to the book, I noticed that the second edition will be released on 30-Jun-20, so I've
          linked to that version.</p>
        </div>
      </div>
    </div>
  </section>

  <!--- Practices of the Python Pro -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/practices-of-the-python-pro.jpg" alt="Practices of the Python Pro">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <strong><a href="https://www.amazon.co.uk/Practices-Python-Pro-Dane-Hillard/dp/1617296082/" target="_blank">Practices of the Python Pro</a></strong>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Dane Hillard</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                The promise of this book is to teach you to design amd write professional-quality
                software that's understandable, maintable, and extensible.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use the 'separation of concerns' principle in your Python projects
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use typing, inheritance, and polymorphism
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Reviewing your code in the context of time and space complexity
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Testing approaches with both the 'unittest' library and pytest
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  The differences between inheritance and composition and when to use each
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to break up code to reduce complexity using measures such as
                  cyclomatic complexity
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to achieve loose coupling in your programs to make them extensible
                  and flexible
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="pt-3"><hr class="col-10"></div>

  <section class="project py-3">
    <div class="container">
      <h3 class="project-section-title mb-1">Practical Books - Python</h3>
    </div>
  </section>

  <!--- Head First Python -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/head-first-python.jpg" alt="Head First Python">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Head-First-Python-Paul-Barry/dp/1491919531/" target="_blank"><strong>Head First Python</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>A Brain Friendly Guide</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Paul Barry</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                This was my first book in my journey learning Python. It is a great starter
                book to get to grips with Python because it has simple and clear explanations of
                Python concepts in a conversational and humorous style. There are annotation call-outs
                that explain what each part of the code actually does which will really benefit you
                if you're a visual learner.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Python's main core data structures
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Branching and iteration
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to reuse code with functions and modules
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to approach exception handling
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How, when and why you should use context managers
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to create a basic Flask app
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Think Python -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/think-python.jpg" alt="Think Python">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Think-Python-Like-Computer-Scientist/dp/1491939362/" target="_blank"><strong>Think Python</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>How to Think Like a Computer Scientist</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Allen B. Downey</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                This book is much more advanced than the <em>'Head First Python'</em> book and will take you from
                someone that understands core concepts to someone that can think in terms of best practises.
                Coupling this book with the <em>'Common Sense Guide to Data Structures and Algorithms'</em> is useful
                because this book enables you to see how those concepts apply in Python.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Programming fundamentals: variables, expressions and statements
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Functions
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Branching and iteration
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Data structures
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Object-oriented programming
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  File management
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Analysis of algorithms
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Debugging your code
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Python Tricks -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/python-tricks.jpg" alt="Python Tricks">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Python-Tricks-Buffet-Awesome-Features/dp/1775093301/" target="_blank"><strong>Python Tricks</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>A Buffet of Awesome Python Features</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Dan Bader</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                As the subtitle suggests, this book is a collection of really useful tips and
                tricks pitched at the intermediate Python programmer. Some of the tricks are so
                simple, you probably wouldn't have given them a thought in the first place.
                I certainly learned a lot about writing more Pythonic code as I made the move
                to Python from having many years of experience in VBA programming.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Writing idiomatic and Pythonic code
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Python data structures
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Always end your list/tuple with a comma to reduce git diffs at code reviews
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Use assertions more liberally than most programmers
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Python functions are first-class citizens
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  List slicing
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  List comprehensions and generator expressions
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to emulate the traditional case/switch statement
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Python Cookbook -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/python-cookbook.jpg" alt="Python Cookbook">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Python-Cookbook-David-Beazley/dp/1449340377/" target="_blank"><strong>Python Cookbook</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Recipes for Mastering Python 3</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>David Beazley & Brian K. Jones</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                This book is an extremely thick book (706 pages to be exact) and not for the faint-hearted.
                Written in Python 3.3, some of the references and snippets are a bit old. If you're experienced with Python,
                you may note there are some instances where you would use more modern language features to accomplish a task.
                This book gives you plenty of examples that tap into Python's extended library that comes with the base
                installation of Python.
              </p>
              <p>
                It's not really a book that should be read from start to finish. It's more of a dip in when
                you need something kind of a book.
              </p>
              <p>
                Merely scratching the surface of what you could learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use Python's data structures taking advantage of their properties
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use Python iterators and generators
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use data structures beyond the readily available ones to more easily solve common programming problems.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Python Testing with pytest -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/python-testing-with-pytest.jpg" alt="Python Testing with pytest">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Python-Testing-pytest-Brian-Okken/dp/1680502409" target="_blank"><strong>Python Testing with pytest</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Simple, Rapid, Effective, and Scalable</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Brian Okken</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                This book is essentially a developer's reference for the pytest framework
                including the extended pytest plugins ecosystem. It won't give that much detail
                in terms of Django specific plugins, however, will set you on the path of all of
                the main plugins that are used in most pytest projects.
              </p>
              <p>
                Some of the key takeaway learnings from the book include:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                How to set up fixtures for your entire test suite
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                How to use parametrization to give your tests multiple inputs
                helping you to build robust software
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                Use useful command line flags to alter a test's output to gain more
                insight into your tests
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                How to maintain your project's test settings in a 'pytest.ini' file
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                Useful plugins and practices to speed up your test suite
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="pt-3"><hr class="col-10"></div>

  <section class="project py-3">
    <div class="container">
      <h3 class="project-section-title mb-1">Practical Books - Django</h3>
    </div>
  </section>

  <!--- Django for Professionals -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/django-for-professionals.jpg" alt="Django for Professionals">
        <div class="media-body">
          <div class=" site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Django-Professionals-Production-websites-Python/dp/1081582162/" target="_blank"><strong>Django for Professionals</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Production Websites with Python & Django</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>William S. Vincent</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                Brought to you by one of the duo that host the weekly
                <a href="https://djangochat.com/" target="_blank">Django Chat Podcast</a>, <a href="https://wsvincent.com/" target="_blank">Will Vincent</a>, this
                book is a well structured step-by-step book that promises to take you from toy applications
                that you have been creating in development to fully-fledged multi-faceted applications
                in production. There is a big bridge to cross when you begin to deploy applications.
              </p>
              <p>
                A few key takeaway points from the book include:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How and why to use Docker for development and production
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How and why to use Postgres in your production project
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to manage your site's static assets
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to keep your project secure with environment variables
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to handle authorisation and authentication
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to implement search functionality
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to deploy your application
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--- Rest APIs with Django -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/django-for-apis.jpg" alt="Rest APIs with Django">
        <div class="media-body">
          <div class="client-info site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Django-APIs-Build-web-Python/dp/1093633948/" target="_blank"><strong>Rest APIs with Django</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Build Web APIs with Python & Django</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>William S.Vincent</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                Written by the same guy that wrote the <em>Django for Professionals</em> book I just mentioned, this
                book is a great book to get to grips with Django REST Framework. The book uses a task based
                code-along approach to teaching and reinforcing its content and is pitched at intermediate
                level Django developers.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  What is a RESTful API
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  What are the http verbs and how they relate to CRUD
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Using views and serializers to build a RESTful API
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Protecting against cross-site request forgery attacks with Django CORS Headers
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Building a React front-end to consume and present the API
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Permissions and user authentication
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use viewsets and routers for rapid prototyping
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to document your API with schemas and Django REST Swagger
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="pt-3"><hr class="col-10"></div>

  <section class="project py-3">
    <div class="container">
      <h3 class="project-section-title mb-1">Practical Books - Front End</h3>
    </div>
  </section>

  <!--- The Road to Learn React -->
  <section class="project px-3 mb-3">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="260px"
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/reading-list/the-road-to-learn-react.jpg" alt="The Road to Learn React">
        <div class="media-body">
          <div class=" site-article">
            <ul class="client-meta list-unstyled">
              <li class="mb-2 ml-2"><i class="fas fa-book fa-fw mr-2"></i>
                <a href="https://www.amazon.co.uk/Road-learn-React-pragmatic-React-js/dp/172004399X/" target="_blank"><strong>The Road to Learn React</strong></a>
              </li>
              <li class="mb-2 ml-2"><i class="fas fa-tag fa-fw mr-2"></i><span>Your Journey to Master Plain yet Pragmatic React</span></li>
              <li class="mb-2 ml-2"><i class="fas fa-user fa-fw mr-2"></i><span>Robin Wieruch</span></li>
            </ul>
            <hr>
            <h6 class="font-weight-bold mb-4">Synopsis</h6>
            <div class="client-bio mb-4">
              <p>
                This book is a great book which demystifies the terminology around React. It's a
                practical book with many code-along exercises to reinforce the concepts. It starts you
                off at a basic level and moves you on to being an intermediate level React developer
                by the end of the book.
              </p>
              <p>
                What you will learn:
              </p>

              <ul class="no-bullets">
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  Why React is called <em>'React'</em>
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to write idiomatic React programs with JSX
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How React manages a virtual DOM and reconciles it against the DOM to determine changes
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How React is made up of components - pieces of the user interface
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  The difference between components and containers. It's all about state
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  What the various lifecycle methods are and how to use them
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to manage your SPA with routers
                </li>
                <li class="mb-2 ml-2"><i class="fa fa-chevron-right mr-2"></i>
                  How to use Axios to consume API endpoints
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container mt-2 mb-2">
    <p class="text-small">
      <strong>Disclaimer:</strong> The external links to other sites including links to the books on
      Amazon are <strong><u>NOT</u></strong> affiliate links.
    </p>
  </div>

{% endblock content %}