{% extends "rest_framework/base.html" %}
{% load static %}
{% load rest_framework %}

{% block title %}WayneLambert.dev Blog{% endblock title %}

{% block branding %}
  <span>
    <a href="" rel="nofollow" class="navbar-brand">
      WayneLambert.dev Blog API <span class="version">1</span>
    </a>
  </span>
{% endblock branding %}

{% block bootstrap_theme %}
  <link rel="stylesheet" href="ab_back_end/templates/rest_framework/css/bootstrap-tweaks.css"
  type="text/css">
{% endblock bootstrap_theme %}