{% load static %}
<div class="album py-2 bg-light">
  <div class="container">
    <div class="row">
      {% include "album_blog_django.html" %}
      {% include "album_blog_api.html" %}
      {% include "album_blog_react.html" %}
    </div>
    <div class="row">
      {% include "album_countdown_letters.html" %}
      {% include "album_countdown_numbers.html" %}
      {% include "album_text_analysis.html" %}
    </div>
    <div class="row">
      {% include "album_roulette.html" %}
      {% include "album_scraping.html" %}
      {% include "album_data_science.html" %}
    </div>
  </div>
</div>