<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="Placeholder: Thumbnail">
      <title>Countdown Letters</title>
      <rect width="100%" height="100%" fill="#02244D" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Countdown: Letters Game</text>
    </svg>
    <figure>
      <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/countdown_letters.jpg"
      class="img-fluid" alt="">
    </figure>
    <div class="card-body">
      <p class="card-text">Take on Susie Dent in this simulation of the
      letters game from the British TV game show, Countdown.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'countdown-letters:selection' %}" class="btn btn-sm btn-success mr-10" id="btn-project">
          <i class="fa fa-clock-o"></i>
          Play
        </a>
        <a href="https://github.com/WayneLambert/portfolio/tree/master/countdown_letters"
          target="_blank" class="btn btn-sm btn-dark mr-10" id="btn-project">
          <i class="fa fa-github"></i>
          Code
        </a>
      </div>
    </div>
  </div>
</div>
