<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="Placeholder: Thumbnail">
      <title>React Blog</title>
      <rect width="100%" height="100%" fill="#FF4500" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">React Blog - COMING SOON</text>
    </svg>
    <figure>
      <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/react-blog-coming-soon.jpg"
      class="img-fluid" alt="">
    </figure>
    <div class="card-body">
      <p class="card-text">A React application that uses the API endpoints from the Blog API project
      to render the fields to the user interface.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="btn btn-sm btn-success mr-10" id="btn-project">
          <i class="fa fa-rss-square"></i>
          <strike>Blog</strike>
        </a>
        <a href="#"
          {% comment "open in new tab" %}
            target="_blank"
          {% endcomment %}
          class="btn btn-sm btn-dark mr-10" id="btn-project">
          <i class="fa fa-github"></i>
          <strike>Code</strike>
        </a>
      </div>
    </div>
  </div>
</div>