<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
      <title>Counting</title>
      <rect width="100%" height="100%" fill="#02244D" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Counting</text>
    </svg>
    <div class="card-body">
      <p class="card-text">Counts the number of words and letters input/pasted
        and returns the number of times each word/letter appears.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'check-count' %}" class="btn btn-sm btn-success mr-10" id="btn-count-words">
          <i class="fa fa-calculator"></i>
          Count
        </a>
      </div>
    </div>
  </div>
</div>