<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="Placeholder: Thumbnail">
      <title>Django Blog</title>
      <rect width="100%" height="100%" fill="#02244D" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Django Blog</text>
    </svg>
    <figure>
      <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/django-blog.png"
      class="img-fluid" alt="">
    </figure>
    <div class="card-body">
      <p class="card-text">A full CRUD application using models, views, and templates.
      Its features are documented within the blog posts.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'blog-django' %}" class="btn btn-sm btn-success mr-10" id="btn-project">
          <i class="fa fa-rss-square"></i>
          Blog
        </a>
        <a href="https://github.com/WayneLambert/portfolio/tree/master/blog"
          target="_blank" class="btn btn-sm btn-dark mr-10" id="btn-project">
          <i class="fa fa-github"></i>
          Code
        </a>
      </div>
    </div>
  </div>
</div>