<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
      <title>Django REST Framework API Endpoints</title>
      <rect width="100%" height="100%" fill="#02244D" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Django REST Framework API Endpoints</text>
    </svg>
    <div class="card-body">
      <p class="card-text">REST API endpoints for the Django blog enabling front-end developers
      to use the fields in their preferred framework.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'blog-api' %}" class="btn btn-sm btn-success mr-10" id="btn-view-blog">
          <i class="fa fa-rss-square"></i>
          Blog
        </a>
        <a id="btn-about-count-words" class="btn btn-sm btn-info mr-10" href="#"
          onclick="aboutProject(context='blog-api');return false;">
          <i class="fa fa-info-circle"></i>
          About
        </a>
      </div>
    </div>
  </div>
</div>