<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
      <title>Project 9</title>
      <rect width="100%" height="100%" fill="#FF4500" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 9 - COMING SOON</text>
    </svg>
    <div class="card-body">
      <p class="card-text"><b>Not Yet Live:</b>
        This project is still to be decided upon. If you have any ideas, feel free to 
        <a href="{% url 'contact' %}">contact me.</a>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="btn btn-sm btn-success mr-10" id="btn-view-blog">
          <i class="fa fa-question"></i>
          <strike>Project 9</strike>
        </a>
      </div>
    </div>
  </div>
</div>