<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
      <title>Blog Project: React</title>
      <rect width="100%" height="100%" fill="#FF4500" />
      <text x="50%" y="50%" fill="#eceeef" dy=".3em">Blog Project: React - COMING SOON</text>
    </svg>
    <div class="card-body">
      <p class="card-text">A React application that uses the API endpoints from the Blog API project
      to render the fields to the user interface.</p>
      <div class="d-flex justify-content-between align-items-center">
        <a href="#" class="btn btn-sm btn-success mr-10" id="btn-view-blog">
          <i class="fa fa-rss-square"></i>
          <strike>View React Blog</strike>
        </a>
        <a id="btn-about-count-words" class="btn btn-sm btn-info mr-10" href="#"
          onclick="aboutProject(context='blog-react');return false;">
          <i class="fa fa-info-circle"></i>
          About
        </a>
      </div>
    </div>
  </div>
</div>