{% extends "base.html" %}
{% block content %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Wayne Lambert</h1>
        <p class="lead text-muted">With 15 years of experience in Business Intelligence and data analysis, my goal is to
          use my aptitude in problem solving and computer programming to move into the field of web development and software engineering.<br><br>

          Please see my CV for the languages, frameworks and technologies learned through my own passion.
        </p>
        <p>
          <a href="/cv" class="btn btn-primary my-2">View my CV</a>
          <a href="https://github.com/WayneLambert/portfolio" class="btn btn-secondary my-2">Source Code</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Blog Project</title>
                <rect width="100%" height="100%" fill="#343A45" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Blog Project</text>
              </svg>
              <div class="card-body">
                <p class="card-text">A blog built using core MVT functionality in Django with the help of Bootstrap 4
                  and Django Crispy Forms.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{% url 'blog-home' %}" role="button">View Blog</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Scrape Book Project</title>
                <rect width="100%" height="100%" fill="#343A45" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Scrape Book Project</text>
              </svg>
              <div class="card-body">
                <p class="card-text">A scrap book of content scraped from the web using a third party Python library called Beautiful Soup.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{% url 'speech-list' %}" role="button">View Scrape Book</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="35" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Word Counter</title>
                <rect width="100%" height="100%" fill="#343A45" /><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Word Counter</text>
              </svg>
              <div class="card-body">
                <p class="card-text">An app that counts the number of words input and returns the number of words for each unique word.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{% url 'check-wordcount' %}" role="button">View Word Counter</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </main>
{% endblock content %}