<div class="jumbotron container-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Wayne Lambert</h1>
    <p class="lead text-muted">An innovative business applications developer with over 15 years’ experience managing the
      design, development, and delivery of effective, intuitive, and user-friendly solutions.
      
      Engages clients and stakeholders providing specialist project and product guidance. Enjoys collaborating
      in teams developing and transforming applications using Agile methodologies.<br><br>

      Please click the buttons below to view my CV and review the portfolio's project's GitHub source code.
    </p>
    <a href="{% url 'view-cv' %}" target="_blank"
      class="btn btn-success mr-2"
      id="btn-cv-jumbotron">
      <i class="fa fa-file-text"></i>
      View CV
    </a>
    <a href="https://github.com/WayneLambert/portfolio" target="_blank"
      class="btn btn-dark mr-2"
      id="btn-github-jumbotron">
      <i class="fa fa-github"></i>
      GitHub
    </a>
  </div>
</div>