<div class="jumbotron container-fluid text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Wayne Lambert</h1>
    <p class="lead text-muted">Innovative Python and Django developer focused on designing<br>
      and developing secure, efficient, and intuitive web experiences<br>
    </p>
    <a href="{% url 'view-cv' %}" target="_blank"
      class="btn btn-success mr-2"
      id="btn-cv-jumbotron">
      <i class="fa fa-file-text"></i>
      View CV
    </a>
    <a href="https://github.com/WayneLambert/portfolio" target="_blank"
      class="btn btn-dark mr-2"
      id="btn-github-jumbotron">
      <i class="fa fa-github"></i>
      View Code
    </a>
  </div>
</div>