{% extends "base.html" %}
{% load static %}
{% block content %}
 <div class="alert alert-light col-md-12 mb-0" role="alert">
   <h3>Reading List: Theoretical Books</h3>
   Here is a list of some of the books that I have studied to learn best practises in software engineering, web development and data science.<br><br>
  <table style="width: 68%">
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship-ebook/dp/B001GSTOAM/" target="_blank">
        Clean Code: A Handbook of Agile Software Craftmanship - Robert C. Martin</a><br><br>
        Code that is difficult to understand carries with it 'technical debt' which becomes a direct time cost
        to the programmers maintaining it as well as a financial cost to a company's bottom line.
        It is often said that programmers spend 10 times the amount reading code as they do writing it.
        Bob Martin teaches how to write and maintain clean code. <br><br>
        A few key takeaway points from the book include:<br><br>
        <ul style="list-style-type:square;">
          <li>Give elements such as classes, functions and variables meaningful names</li>
          <li>Observe the DRY principle (Don't Repeat Yourself)</li>
          <li>Leave the code in a better place than when you found it</li>
          <li>Keep function sizes small. They should do one thing and do it well!</li>
          <li>Design functions to take fewer arguments</li>
          <li>Comments should explain why code is in place. The code itself should explain what it does</li>
          <li>Keep lines of code short for readability</li>
          <li>Use just one assertion per test</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/clean_code.png"
        align="right" alt="Clean Code">
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Common-Sense-Guide-Data-Structures-Algorithms/dp/1680502441"
        target="_blank" name="data_structures_algorithms">
        A Common Sense Guide to Data Structures and Algorithms: Jay Wengrow</a><br><br>
        The promise of this book is to teach about the various data structures and algorithms that are on offer to a programmer, which one is the most suited to a particular problem and the efficiency of the potential solutions.
        The book is all about doing it with the smallest amount of maths as possible.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>Big O notation is the tool used to evaluate the efficiency of an algorithm</li>
          <li>How binary search works and its relationship with base two logarithms</li>
          <li>Various implementations of sorting algorithms with their differences explained</li>
          <li>How to use stacks and queues</li>
          <li>Using node based structures in your programs</li>
          <li>How to look up data using hash tables</li>
          <li>How and when to use recursion</li>
          <li>How to speed up your code with binary trees</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/data_structures_and_algorithms.png"
        align="right" alt="Common Sense Guide to Structures and Data Algorithms">
      </td>
    </tr>
  </table>
  <br><br><hr><br>
  <table><h3>Reading List: Practical Books - Python</h3>
    Here is a list of practical books that I have used to learn various skills in software engineering, web development and data science.<br><br>
  <table style="width: 68%">
      <td valign="top">
        <a href="https://www.amazon.co.uk/Head-First-Python-Paul-Barry/dp/1491919531" target="_blank">
        Head First Python: A Brain-Friendly Guide - Paul Barry</a><br><br>
        This book is a great starter book to get to grips with Python because it has simple
        and clear explanations of Python concepts in a conversational and humorous style.
        There are annotation call-outs that explain what each part of the code actually does.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>Python's main core data structures</li>
          <li>Branching and iteration</li>
          <li>How to reuse code with functions and modules</li>
          <li>How to approach exception handling</li>
          <li>How, when and why you should use context managers</li>
          <li>How to create a basic Flask app</li>
        </ul>
      </td><br><br>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/head_first_python.jpg"
        align="right" alt="Head First Python">
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Think-Python-Like-Computer-Scientist/dp/1491939362">
        Think Python: How to Think Like a Computer Scientist - Allen B. Downey</a><br><br>
        This book is much more advanced than the 'Head First Python' book and will take you from someone
        that understands core concepts to someone that can think in terms of best practises.
        Coupling this book with the <a href="#data_structures_algorithms">'Common Sense Guide to Data Structures and Algorithms'</a>
        is useful because this book enables you to see how those concepts apply in Python.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>Programming fundamentals: variables, expressions and statements</li>
          <li>Functions</li>
          <li>Branching and iteration</li>
          <li>Data structures</li>
          <li>Object-oriented programming</li>
          <li>File management</li>
          <li>Analysis of algorithms</li>
          <li>Debugging your code</li>
        </ul>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/think_python.jpg"
        align="right" alt="Think Python">
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Python-Tricks-Buffet-Awesome-Features/dp/1775093301">
        Python Tricks: A Buffet of Awesome Python Features - Dan Bader</a><br><br>
        As the subtitle suggests, this book is a collection of really useful tips and tricks
        pitched at the intermediate Python programmer. Some of the tricks are so simple, you
        probably wouldn't have given them a thought in the first place.
        I certainly learned a lot about writing more Pythonic code as I made the move to Python
        from having many years of experience in VBA programming.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>Writing idiomatic and Pythonic code</li>
          <li>Python data structures</li>
          <li>Always end your list/tuple with a comma to reduce git diffs at code reviews</li>
          <li>Use assertions more liberally than most programmers</li>
          <li>Python functions are first-class citizens</li>
          <li>List slicing</li>
          <li>List comprehensions and generator expressions</li>
          <li>How to emulate the traditional case/switch statement</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/python_tricks.jpg"
        align="right" alt="Python Tricks">
      </td>
    </tr>
  </table>
  <br><br><hr><br>
  <table><h3>Reading List: Practical Books - Django</h3>
    Here is a list of books that I have used to learn web development with Django.<br><br>
  <table style="width: 68%">
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Django-Professionals-Production-websites-Python/dp/1081582162">
        Django for Professionals: Production Websites with Python & Django - William S. Vincent</a><br><br>
        This book is a well structured step-by-step book that promises to take you from toy applications that you have been creating in development
        to fully-fledged multi-faceted applications in production.
        There is a big bridge to cross when you begin to deploy applications.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>How and why to use Docker for development and production</li>
          <li>How and why to use Postgres in your production project</li>
          <li>Setting up a custom user registration model</li>
          <li>How to manage your site's static assets</li>
          <li>How to keep your project secure with environment variables</li>
          <li>How to handle authorisation and authentication</li>
          <li>How to implement search functionality</li>
          <li>How to deploy your application</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/django_for_professionals.jpg"
        align="right" alt="Django for Professionals">
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/REST-APIs-Django-powerful-Python/dp/198302998X">
        Rest APIs with Django: Build Web APIs with Python & Django - William S. Vincent</a><br><br>
        This book is a great book to get to grips with Django REST Framework. The book uses a task based
        code-along approach to teaching and reinforcing its content and is pitched at intermediate level Django developers.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>What is a RESTful API</li>
          <li>What are the http verbs and how they relate to CRUD</li>
          <li>Using views and serializers to build a RESTful API</li>
          <li>Protecting against cross-site request forgery attacks with Django CORS Headers</li>
          <li>Building a React front-end to consume and present the API</li>
          <li>Permissions and user authentication</li>
          <li>How to use viewsets and routers for rapid prototyping</li>
          <li>How to document your API with schemas and Django REST Swagger</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/django_for_apis.jpg"
        align="right" alt="Rest APIs with Django">
      </td>
    </tr>
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Lightweight-Django-Julia-Elman/dp/149194594X">
        Lightweight Django: Using REST, Websockets and Backbone - Julia Elman & Mark Lavin</a><br><br>
        This book introduces integrating RESTful APIs into your project and consuming them with a front-end framework like React.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>What are stateless web applications</li>
          <li>Creating a static website with Django</li>
          <li>Designing an API with Django REST Framework</li>
          <li>Using Django REST Framework's browsable API</li>
          <li>The emergence and shift to single page applications (SPAs)</li>
          <li>Websockets in Django</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/lightweight_django.jpg"
        align="right" alt="Lightweight Django">
      </td>
    </tr>
  </table>
  <br><br><hr><br>
  <table><h3>Reading List: Practical Books - Front End</h3>
    Here is a list of books that I have used to learn front-end web technologies.<br><br>
  <table style="width: 68%">
    <tr>
      <td valign="top">
        <a href="https://www.amazon.co.uk/Road-learn-React-pragmatic-React-js/dp/172004399X">
        The Road to Learn React: Your Journey to Master Plain yet Pragmatic React - Robin Wieruch</a><br><br>
        This book is a great book which demystifies the terminology around React.
        It's a practical book with many code-along exercises to reinforce the concepts. It starts you off at a
        basic level and moves you on to being an intermediate level React developer by the end of the book.<br><br>
        What you will learn:<br><br>
        <ul style="list-style-type:square;">
          <li>Why React is called <em>'React'</em></li>
          <li>How to write idiomatic React programs with JSX</li>
          <li>How React manages a virtual DOM and reconciles it against the DOM to determine change</li>
          <li>How React is made up of components - pieces of the user interface</li>
          <li>The difference between components and containers. It's all about state</li>
          <li>What the various lifecycle methods are and how to use them</li>
          <li>How to manage your SPA with routers</li>
          <li>How to use Axios to consume API endpoints</li>
        </ul><br>
      </td>
      <td>
        <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/books/the_road_to_learn_react.jpg"
        align="right" alt="The Road to Learn React">
      </td>
    </tr>
  </table>
  <br><br>
{% endblock content %}