[run]
source = .

omit =
  .venv/*
  .pytest_cache/*,
  .hypothesis/*,
  *apps.py,
  *migrations/*,
  *ab_back_end/pytest.py,
  */node_modules/*,
  */static/*,
  */staticfiles/*,
  */tests/test*.py,
  */users/signals.py,
  *admin.py*,
  *wsgi.py,
  *asgi.py,
  manage.py,
  *feeds.py,
  *__init__.py,
  *__pycache__,
  */site-packages/*,
  */distutils/*,
  *sitemap.py,

branch = True

[report]

show_missing = True

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if DEBUG:
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
