[run]
source = .

omit =
  .venv/*
  *apps.py,
  *migrations/*,
  *ab_back_end/pytest.py,
  */node_modules/*,
  */static/*,
  */staticfiles/*,
  *tests/*,
  *wsgi.py,
  *asgi.py,
  manage.py,
  *feeds.py,
  *__init__.py,
  *__pycache__,
  */site-packages/*,
  */distutils/*,
  *sitemap.py,
  *tests*.py,

branch = True

[report]

show_missing = True

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
