[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
bpython = "*"
django-debug-toolbar = "*"
autopep8 = "*"
pep8 = "*"
coverage = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
markdown = "*"
pillow = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
django-bootstrap4 = "*"
whitenoise = "*"
gunicorn = "*"
django-ckeditor = "*"
django-allauth = "*"
django-guardian = "*"
dj-database-url = "*"
boto3 = "*"
django-storages = "*"
django-ses = "*"
django-filter = "*"
pygments = "*"
django-recaptcha = "*"

[requires]
python_version = "3.7"
