[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
autopep8 = "*"
pep8 = "*"
coverage = "*"
ptvsd = "*"
django-extensions = "*"
jupyter = "*"
ipython = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
dj-database-url = "*"
pytest-xdist = "*"
hypothesis = "*"
hypothesis-django = "*"
mypy = "*"
bandit = "*"
ipdb = "*"
pylint = "*"
pylint-django = "*"
bpython = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
markdown = "*"
requests = "*"
beautifulsoup4 = "*"
pillow = "*"
django-bootstrap4 = "*"
whitenoise = "*"
gunicorn = "*"
django-ckeditor = "*"
django-guardian = "*"
dj-database-url = "*"
boto3 = "*"
django-storages = "*"
django-ses = "*"
django-filter = "*"
pygments = "*"
django-recaptcha = "*"
django-allauth = "*"
django-google-analytics-app = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
