[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
bpython = "*"
django-debug-toolbar = "*"
autopep8 = "*"
pep8 = "*"
flake8 = "*"
coverage = "*"
django-extensions = "*"
werkzeug = "*"
python-dotenv = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-guardian = "*"
markdown = "*"
pillow = "*"
psycopg2-binary = "*"
requests = "*"
beautifulsoup4 = "*"
django-bootstrap4 = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
