{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load template_helpers %}

{% block content %}
  <div class="countdown-photo">
    <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/countdown.png"
    alt="countdown">
  </div>
  <div class="countdown-text">
    <h6>The target number is ...</h6><br>
      <div class="numbers-selected">
        {{ request.GET.target_number }}
      </div><br>
    <h6>The numbers selected at random are...</h6><br>
      <div class="numbers-selected">
        {{ request.GET.numbers_chosen|remove_brackets }}
      </div><br><br>
    <h6>Enter the calculation for the closest number to the target number here...</h6><br>
    <em class="small">Use matching sets of rounded brackets, digits and arithmetic operators.<br>
      No spaces, equals sign or answer permitted.*
    </em>
    <form id="selected-numbers-form" action="{% url 'countdown-numbers:game' %}"
      method="POST" class="form-horizontal">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-sm btn-success mr-10" type="submit">
        <i class="fa fa-sign-in"></i>
        Submit
      </button><br><br>
    </form>
    {% if messages %}
      <div class="alert alert-warning col-md-4 mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <b>There are problems in your calculation requiring attention</b><br><br>
        <div class="messages">
          # TODO: Start from here
          {% for message in messages %}
            &#x204D {{ message }}<br>
          {% endfor %}
        </div><br><br>
        <b>Re-submit your calculation in accordance with the guidelines</b>
      </div>
    {% endif %}
  </div>
{% endblock content %}
