{% extends 'base.html' %}

{% block title %}{{ block.super }} | Password Reset Complete{% endblock title %}

{% block content %}
  <div class="container col-6 py-5">
    <div class="auth-wrapper theme-bg-light mx-auto shadow p-5 rounded">
      <h5 class="auth-heading text-center mb-2">Your password has been set</h5>
      <div class="auth-form-container text-left mx-auto">
        <!--- Log In Button -->
        <a href="{% url 'blog:users:login' %}" class="btn btn-sm btn-success mr-10">
          <i class="fa fa-repeat mr-1"></i>
          Sign In
        </a>
      </div>
    </div>
  </div>
{% endblock content %}