{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Register{% endblock title %}

{% block content %}
  <div class="container col-6 py-5">
    <div class="auth-wrapper theme-bg-light mx-auto shadow p-5 rounded">
      <h5 class="auth-heading text-center mb-2">Register an Account</h5>
      <div class="auth-form-container text-left mx-auto">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <div class="mb-3">
              {% render_field form.username class+="form-control" placeholder="Username" %}
            </div>
            <div class="mb-3">
              {% render_field form.email class+="form-control" placeholder="Email" %}
            </div>
            <div class="mb-3">
              {% render_field form.first_name|attr:"required:true" class+="form-control" placeholder="First Name" %}
            </div>
            <div class="mb-3">
              {% render_field form.last_name|attr:"required:true" class+="form-control" placeholder="Last Name" %}
            </div>
            <div class="mb-3">
              {% render_field form.password1 class+="form-control" placeholder="Password" %}
            </div>
            <div>
              {% render_field form.password2 class+="form-control" placeholder="Re-enter Password" %}
            </div>
          </fieldset>
          <div class="extra mb-4 text-center text-muted">
            By signing up, you agree to our <a href="{% url 'pages:privacy' %}" class="theme-link">privacy policy</a>.
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mx-auto">
              <i class="fa fa-sign-in mr-1"></i>
              Register Account
            </button>
          </div>
          <div class="messages mt-2">
            {% if messages %}
              <ul class="messages no-bullets">
                {% for message in messages %}
                  <p>
                    {% if message.tags %} class="{{ message.tags }} signup-error-message"{% endif %}>
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <b><u>Important:</u></b>
                      {% endif %}
                    {{ message }}
                  </p>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </form>
        <div class="border-top">
          <small class="text-muted">
            Already have an account? <a href="{% url 'blog:users:login' %}" class="ml-2">Sign In</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
