{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Django API Endpoints Review{% endblock title %}

{% block content %}

  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Project Review: Django API Endpoints</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">API endpoints for the Django Blog Project</p>
      </div>
    </div>
  </section>

  <!--- Project Summary Section -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="{% static 'assets/images/project/api.jpg' %}" alt="">
        <div class="media-body">
          <div class="client-info">
            <h5 class="font-weight-bold mb-4">Summary</h5>
            <ul class="client-meta list-unstyled">
              <li class="mb-2"><i class="fas fa-tag fa-fw mr-2"></i><strong class="mr-1">Type:</strong>API Endpoints created with Django REST Framework</li>
              <li class="mb-2"><i class="fas fa-link fa-fw mr-2"></i><strong>Web:</strong>
                <a class="theme-link" href="{% url 'api:posts' %}" target="_blank">API Endpoints</a>
              </li>
              <li class="mb-2"><i class="fa fa-github fa-fw mr-2"></i><strong>GitHub:</strong>
                <a class="theme-link" href="https://github.com/WayneLambert/portfolio/tree/master/apps/api" target="_blank">
                  Source Code
                </a>
              </li>
              <li class="mb-2"><i class="fa fa-exclamation-circle fa-fw mr-2"></i><strong>Issues:</strong> 
                <a class="theme-link" href="https://github.com/WayneLambert/portfolio/issues?q=is%3Aissue+label%3A%22app%3A+api%22+" target="_blank">
                  Open & Closed Issues on GitHub
                </a>
              </li>
            </ul>
            <hr>
            <h5 class="font-weight-bold mb-4">Introduction</h5>
            <div class="client-bio mb-4">
              <p>
                The Django blog also has some REST API endpoints that can be used by a front-end developer
                to render the fields with a framework such as React, Vue, Angular, or Ember.
              </p>
              <p>
                Naturally, the implementation of these endpoints is a highly contrived
                example for portfolio demonstration purposes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="features">Features</h3>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <ul class="mb-0 no-bullets">
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Browsable API list page for all of the posts (paginated by 3 posts per page)
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Browsable API detail page for an individual post
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            The standard template supplied by Django Rest Framework has been overridden so the colours
            are consistent with portfolio's theme colours
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Navigation icons from Font Awesome have been added
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Time is purposefully left in its database storage format so that a front-end developer
            can use a JavaScript library such as <a href="https://momentjs.com/" target="_blank">Moment.js</a>
            which can format the time according to each user's locale
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Fields from downstream models included
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Properties from models are included as fields
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            I purposefully have not provided a POST form within the browsable API as I do not want
            people or bots to post to the database
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Project Write-Up Section -->
  <section class="project px-3">
    <div class="container">
      <div class="project-sections">

        <!-- Project Objectives -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="objectives">Objectives</h3>
          <p>
            I set out to build a browsable API endpoint that would enable front-end developers
            to render the fields from the application using their chosen front-end framework
            such as React, Vie, Angular or Ember.
          </p>
        </div>

        <!-- Project Approach / Solution -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="approach-and-solution">The Approach &amp; Solution</h3>
          <p>
            My starting point was to research the setting of the endpoints using serializers.
          </p>
          <p>
            Additional research was required for some of the less frequently used aspects of creating an API such
            as rendering properties that have been defined against a model, or fields that have been defined in
            a downstream model.
          </p>
          <p>
            The implementation differs for the various relationships between database tables. Within the blog
            project, there are examples of all of the main database join types: one-to-one, one-to-many,
            and many-to-many.
          </p>
        </div>

        <!-- Project Evaluation -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="evaluation">Evaluation</h3>
          <p>
            I would like investigate documenting the API using something like Swagger. There are
            also some small customisations that I would like to make to the base template with
            regards to titling and descriptions.
          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- Languages, Technologies & Skills Used Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="technologies">Languages, Technologies &amp; Skills Used</h3>
      <div class="text-small text-muted mb-1">In approximate order of frequency used...</div>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <table>
          <tr>
            <td class="text-right font-weight-bold pr-2">Languages:</td>
            <td>Python, HTML / CSS, Bootstrap, Font Awesome</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Frameworks / Services:</td>
            <td>Django, Django REST Framework</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Software:</td>
            <td>VS Code</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Libraries:</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Notable Packages:</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Infrastructure:</td>
            <td>GitHub, Docker, PipEnv</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
{% endblock %}