{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Django Blog Review{% endblock title %}

{% block content %}

  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Project Review: Django Blog</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">A full CRUD application using Django's full MVT architecture</p>
      </div>
    </div>
  </section>

  <!--- Project Summary Section -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="{% static 'assets/images/project/blog.jpg' %}" alt="">
        <div class="media-body">
          <div class="client-info">
            <h5 class="font-weight-bold mb-4">Summary</h5>
            <ul class="client-meta list-unstyled">
              <li class="mb-2"><i class="fas fa-tag fa-fw mr-2"></i><strong class="mr-1">Type:</strong>CRUD Application with Authentication</li>
              <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Web:</strong>
                <a class="theme-link" href="{% url 'blog:home' %}" target="_blank">Blog Home Page</a>
              </li>
              <li class="mb-2"><i class="fa fa-github fa-fw mr-2"></i><strong>GitHub:</strong>
                <a class="theme-link" href="https://github.com/WayneLambert/portfolio/tree/master/apps/blog" target="_blank">
                  Source Code
                </a>
              </li>
              <li class="mb-2"><i class="fa fa-exclamation-circle fa-fw mr-2"></i><strong>Issues:</strong> 
                <a class="theme-link" href="https://github.com/WayneLambert/portfolio/issues?q=is%3Aissue+label%3A%22app%3A+blog%22+" target="_blank">
                  Open & Closed Issues on GitHub
                </a>
              </li>
            </ul>
            <hr>
            <h5 class="font-weight-bold mb-4">Introduction</h5>
            <div class="client-bio mb-4">
              <p>
                A blog was selected as a good application to build as it illustrates well-known web development
                patterns. It uses CRUD views, retrieval and rendering of database data and a sprinkling of
                JavaScript to improve the user experience.
              </p>
              <p>
                The blog itself contains articles that document some of the challenges, processes,
                and design decisions for the portfolio in addition to more general programming,
                web development, and data science topics.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="features">Features</h3>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <ul class="mb-0 no-bullets">
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Authentication and authorisation implemented for post creation, updating, and deletion
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Predominantly built using Class-Based Views, therefore easier to maintain
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Efficient retrieval of data from PostgreSQL database with query optimisations
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Tests built using the PyTest framework and an in-memory SQLite3 database
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            List view pagination on index, contents, author, category, and search results pages
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Detail view pagination cycling through individual posts
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Conditionally visible category sidebar including number of posts in each category
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Contents page allowing visitors to see full list of posts
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Efficient search engine functionality
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Media storage integrated with Amazon S3
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Site emails implemented with Amazon's Simple Email Service (SES)
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            RSS Feed
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Customised and secured 'Admin' pages/interface
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Project Write-Up Section -->
  <section class="project px-3">
    <div class="container">
      <div class="project-sections">

        <!-- Project Objectives -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="objectives">Objectives</h3>
          <p>
            I set out to build a blog that enabled intuitive navigation and discovery of the blog's content
            using a clean and minimalistic interface. Features such as a category sidebar with
            the number of posts included within each category should enable the user to find other posts that
            might be of interest.
          </p>
          <p>
            The blog should include a detailed amount of metadata which informs the reader
            on how useful the blog's article is. One of my personal dislikes is when I'm reading a
            blog post and there's no creation or updated date on the post. This leaves me
            wondering if the solution provided really is aligned to the challenge I'm facing.
          </p>
        </div>

        <!-- Project Approach / Solution -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="approach-and-solution">The Approach &amp; Solution</h3>
          <p>
            Firstly, I drafted a database schema with a rough sketch on my notepad. Following this,
            I created the 'Category' and 'Post' models within the 'blog' app.
          </p>
          <p>
            I decided to structure the relationships between categories and posts as
            a many-to-many relationship. It would have been easier to develop a solution using a
            one-to-many relationship however, it seemed reasonable to me that a post
            could fall into many different categories.
          </p>
          <p>
            Following this, in a separate app called 'users', I created a 'Profile' model which has a
            one-to-one relationship with Django's default 'User' model. These are connected using Django signals
            whereby when an instance of 'User' is created, it sends a signal to the custom 'Profile'
            model to simultaneously create an instance of the 'Profile' model too.
          </p>
          <p>
            Following the implementation of the models, I designed the URL structure of the
            application. Working in this way helped me to decide upon the various views that needed
            to be created. I have learned that it's best to work in order of most generic to most
            specific in terms of creating the URLs/views.
          </p>
          <p>
            The final stage was to render the templates which is of course was an iterative process requiring
            revisions to the models and views as better or more desirable options become apparent.
          </p>
        </div>

        <!-- Project Evaluation -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="evaluation">Evaluation</h3>
          <p>
            If I were to repeat the project, I would create a custom user model which would use an email address
            for registration rather than a username. I think that using usernames is an outdated way of signing
            up for a website. It's more difficult for a user to remember their username. This fits my personal
            preferred method of signing up to web services. Additionally, due to privacy concerns, I don't believe
            in using Google or Facebook's expedited login buttons. They're very convenient at the point of
            registration but expensive in terms of the data that you're giving away.
          </p>
          <p>
            Changing over to a custom user model at this point would require an inordinate amount
            of effort to derive very little benefit. I have used this pattern in a subsequent project.
          </p>
          <p>
            As with any ever-evolving project, there are certainly still things that I would like to
            change. You can review a list of <a href="https://github.com/WayneLambert/portfolio/issues?q=is%3Aissue+is%3Aopen+label%3A%22app%3A+blog%22" target="_blank">open issues</a>
            for the blog project if you're interested.
          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- Languages, Technologies & Skills Used Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="technologies">Languages, Technologies &amp; Skills Used</h3>
      <div class="text-small text-muted mb-1">In approximate order of frequency used...</div>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <table>
          <tr>
            <td class="text-right font-weight-bold pr-2">Languages:</td>
            <td>Python, JavaScript, HTML, Sass</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Frameworks / Services:</td>
            <td>Django, Bootstrap, PyTest, Font Awesome, Amazon S3, Amazon SES</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Software:</td>
            <td>VS Code, DataGrip, Firefox Dev Tools</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Infrastructure:</td>
            <td>GitHub, Docker, PipEnv, Node</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Notable Packages:</td>
            <td>Node Sass, Django Crispy Forms, Django Widget Tweaks, Whitenoise,
            Django CK Editor, Boto3, Django Recaptcha, Pillow</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

{% block additional_js %}
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock additional_js %}