{% extends 'base.html' %}
{% load static %}
{% load ext_links %}

{% block title %}{{ block.super }} | Countdown Numbers Review{% endblock title %}

{% block content %}

  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Project Review: Countdown Numbers</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">A simulation of the numbers game on the TV show, Countdown</p>
      </div>
    </div>
  </section>

  <!--- Project Summary Section -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="{% static 'assets/images/project/countdown-numbers.jpg' %}">
        <div class="media-body">
          <div class="client-info">
            <h5 class="font-weight-bold mb-4">Summary</h5>
            <ul class="client-meta list-unstyled">
              <li class="mb-2"><i class="fas fa-tag fa-fw mr-2"></i><strong class="mr-1">Type:</strong>Python Game with extensive use of Python's Standard Library</li>
              <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Web:</strong>
                <a class="theme-link" href="{% url 'countdown_numbers:selection' %}" target="_blank">Countdown Numbers Game</a>
              </li>
              <li class="mb-2"><i class="fa fa-github fa-fw mr-2"></i><strong>GitHub:</strong>
                <a class="theme-link" href="{% github_url type='code' app='countdown_numbers' %}" target="_blank">
                  Source Code
                </a>
              </li>
              <li class="mb-2"><i class="fa fa-exclamation-circle fa-fw mr-2"></i><strong>Issues:</strong> 
                <a class="theme-link" href="{% github_url type='issues' app='countdown_numbers' %}" target="_blank">
                  Open & Closed Issues on GitHub
                </a>
              </li>
            </ul>
            <hr>
            <h5 class="font-weight-bold mb-4">Introduction</h5>
            <div class="client-bio mb-4">
              <p>
                The Countdown Numbers project uses the logic from the numbers game on Countdown
                to enable a player to play against the computer (which I call Rachel) attempting
                to get the closest value to the target number as possible.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Game Rules Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="game-rules">Game Rules</h3>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <ul class="mb-0 no-bullets">
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Six, face-down, numbered tiles are selected from 24 shuffled tiles.
            The tiles are arranged into 2 groups:
              <ul class="mb-0 no-bullets ml-2">
                <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                  Large Numbers: There are 4 numbers in the large set. These are 25, 50, 75 and 100
                </li>
                <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                  Small Numbers: There are 20 numbers in the small set. 2 each of the numbers 1-10
                </li>
              </ul>
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            One contestant selects between 0 and 4 numbers from the large set
            (a.k.a. from the top) and the remaining numbers are drawn from the small
            set to make six numbers in total
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            A random three-digit target number is then generated by the computer
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            The contestants must attempt to get as close as possible to the target number by
            using just the four basic arithmetic operators (+, -, ×, and ÷) and the six
            selected numbers
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Brackets in the calculations are permitted and ordinary BODMAS operations apply
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Not all of the digits need to be used
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Concatenation of digits is not permitted (For example, you cannot use a “2” and “2”
            to make “22”)
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            At no intermediate step in the process can the current running total become negative,
            or the running total involve a fraction
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Each numbered tile can only be used once in the calculation
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Creates a database entry recording the details of the game.
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            The scoring is as follows:
            <ul class="mb-0 no-bullets ml-2">
              <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                10 points are awarded for correctly achieving a solution that meets the target number
              </li>
              <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                7 points are awarded for getting within 5 of the target number
              </li>
              <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                5 points are awarded for getting within 10 points of the target number
              </li>
              <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                Only the contestant whose solution is nearest to the the target scores
              </li>
              <li><i class="fas fa-caret-right fa-fw mr-2"></i>
                Both contestants score if it is a draw
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="features">Features</h3>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <ul class="mb-0 no-bullets">
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Uses a functional programming style to implement the game's rules logic into the program
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Validates that the calculation method used by the player is permitted
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Returns a game result and score displaying the winner
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Returns a calculation by Rachel Riley which is as close as possible to the target number
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Unlike the TV game show, there is no 30 second clock. This is intended so that
            recruiters and hiring managers don't have to wait for a countdown timer to expire
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Project Write-Up Section -->
  <section class="project px-3">
    <div class="container">
      <div class="project-sections">

        <!-- Project Objectives -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="objectives">Objectives</h3>
          <p>
            This actually came about as a natural continuation of developing the countdown
            letters game. I simply wondered whether I could develop the numbers game as well.
          </p>
        </div>

        <!-- Project Approach / Solution -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="approach-and-solution">The Approach &amp; Solution</h3>
          <p>
            The numbers game is harder to develop than the letters game as it requires more
            thought in terms of validating the answer and finding a solution to the calculation
            used to arrive at the game's target number.          </p>
          <p>
            It involves using some of Python's non-standard data structures to efficiently
            perform the calculations.
          </p>
          <p>
            A further development led me to create a database model to store the results of each
            of the games for reference and later retrieval. This is an example of using a database
            table to store a program's logic rather than to capture user-defined input from forms.
          </p>
        </div>

        <!-- Project Evaluation -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="evaluation">Evaluation</h3>
          <p>
            I am largely happy with the project, however, I would like to use hypothesis to test
            against some possible edge cases for a player's calculation input. Since there's a
            large combination of operators, brackets, and numbers that can be applied to a game's
            calculation, there's likely to be some sequence of characters that I haven't thought
            about testing.
          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- Languages, Technologies & Skills Used Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="technologies">Languages, Technologies &amp; Skills Used</h3>
      <div class="text-small text-muted mb-1">In approximate order of frequency used...</div>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <table>
          <tr>
            <td class="text-right font-weight-bold pr-2">Languages:</td>
            <td>Python, HTML, Sass</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Frameworks / Services:</td>
            <td>Django, Bootstrap, Font Awesome</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Software:</td>
            <td>VS Code</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Libraries:</td>
            <td>itertools, operator, collections, random, re, ast</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Notable Packages:</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Infrastructure:</td>
            <td>GitHub, Docker, PipEnv</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <!-- Sources -->
  <section class="project px-3">
    <div class="container">
      <div class="project-sections">
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="sources">Sources</h3>
          <p>
            Information and rules of the game was sourced from
            <a href="{% countdown_numbers_game_rules_link %}" target="_blank">{% countdown_numbers_game_rules_link %}</a>
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}