{% extends 'base.html' %}
{% load ext_links %}

{% block title %}{{ block.super }} | Holiday Roulette Review{% endblock title %}

{% block content %}

  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Project Review: Holiday Roulette</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">
          Helping travellers choose their next luxury holiday destination
        </p>
      </div>
    </div>
  </section>

  <!--- Project Summary Section -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/projects/holiday-roulette.jpg">
        <div class="media-body">
          <div class="client-info">
            <h5 class="font-weight-bold mb-4">Summary</h5>
            <ul class="client-meta list-unstyled">
              <li class="mb-2"><i class="fas fa-tag fa-fw mr-2"></i><strong class="mr-1">Type:</strong>Python Randomised Choices with Logging</li>
              <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Web:</strong>
                <a class="theme-link" href="{% url 'roulette:holiday_roulette' %}" target="_blank">Holiday Roulette</a>
              </li>
              <li class="mb-2"><i class="fa fa-github fa-fw mr-2"></i><strong>GitHub:</strong>
                <a class="theme-link" href="{% github_url type='code' app='roulette' %}" target="_blank">
                  Source Code
                </a>
              </li>
              <li class="mb-2"><i class="fa fa-exclamation-circle fa-fw mr-2"></i><strong>Issues:</strong> 
                <a class="theme-link" href="{% github_url type='issues' app='roulette' %}" target="_blank">
                  Open & Closed Issues on GitHub
                </a>
              </li>
            </ul>
            <hr>
            <h5 class="font-weight-bold mb-4">Introduction</h5>
            <div class="client-bio mb-4">
              <p>
                A game centred on selecting a luxury holiday for the procrastinating traveller
                that cannot decide on their next destination.
              </p>
              <p>
                There is a very small 'sleep' between each generated choice. This is a design
                decision to slow down the code so that the traveller can feel the suspense whilst
                the roulette wheel determines their fate.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="features">Features</h3>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <ul class="mb-0 no-bullets">
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Uses a random generator to decide upon a choice for each spin of the
            roulette wheel where the best of 1000 spins determines the winning location.
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            Logs all of the choices to a log file on the server. This is not accessible
            to see by the visitor.
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            The visitor can click a link to see the logging, although they will not
            actually see the log file. Instead, a script runs to read all lines into
            the Django template. Some formatting is done with the text to give it a
            fixed width font and authentic feel.
          </li>
          <li class="mb-2"><i class="fas fa-check fa-fw mr-2"></i>
            The winning location screen includes an image of the actual location just
            to increase the wanderlust even more. I don't know whether this was a great
            design choice or not as whilst I was developing this, it just leaves me
            wanting to travel even more! :)
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Project Write-Up Section -->
  <section class="project px-3">
    <div class="container">
      <div class="project-sections">

        <!-- Project Objectives -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="objectives">Objectives</h3>
          <p>
            The purpose of the project is to illustrate the implementation of randomised
            choices and the logging of them using Python's 'logging' module.
          </p>
        </div>

        <!-- Project Approach / Solution -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="approach-and-solution">The Approach &amp; Solution</h3>
          <p>
            The starting point was to consider the logic of the game by thinking of a list of
            luxury travel destinations. Thankfully, this is an easy task for anyone with travel
            aspirations, so I picked 12 places where I would personally love to travel to.
            These are all stored within a dictionary where their values (i.e. their choices counter)
            is set to zero.
          </p>
          <p>
            The next part was to use 'choices' from the random module to select a random destination
            for each iteration of the game's loop.
          </p>
          <p>
            The running of the code is slowed down in order to build a bit of suspense in the game.
            It is slowed down by 0.003 seconds for each of the 1,000 iterations, representing a slowing
            down of circa 3 seconds. In a real game, there could be a lot more suspense built in, however
            I do not want to keep hiring managers and recruiters waiting for the outcome of the game when
            its purpose is to demonstrate usage of the libraries used.
          </p>
          <p>
            Each choice was logged in a log file within the app's directory.
          </p>
          <p>
            Some polish was applied to the game by creating an image for each of the 12 destinations
            and using that image dynamically when the winner is revealed on the destination screen.
          </p>
          <p>
            Finally, the user has the option of viewing the log file contents. They are not actually
            viewing the log file itself because that sits securely on the server. They are the
            viewing the contents of the file which is rendered out to the HTML template.
          </p>
        </div>

        <!-- Project Evaluation -->
        <div class="project-section mb-5">
          <h3 class="section-title font-weight-bold mb-2" id="evaluation">Evaluation</h3>
          <p>
            Overall, I am happy with the development of the project. A recent refactor say the game's
            logic, the logging components, and the views separated into separate modules.
          </p>
          <p>
            As further polish, a progress bar could be added to the application to give the user a
            visual indication of when the code will finish running.
          </p>
        </div>

      </div>
    </div>
  </section>

  <!-- Languages, Technologies & Skills Used Section -->
  <section class="project px-3 pb-5">
    <div class="container">
      <h3 class="section-title font-weight-bold mb-2" id="technologies">Languages, Technologies &amp; Skills Used</h3>
      <div class="text-small text-muted mb-1">In approximate order of frequency used...</div>
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <table>
          <tr>
            <td class="text-right font-weight-bold pr-2">Languages:</td>
            <td>Python, HTML, Sass</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Frameworks / Services:</td>
            <td>Django, Bootstrap, Font Awesome</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Software:</td>
            <td>VS Code</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Libraries:</td>
            <td>logging, operator, random, time</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Notable Packages:</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold pr-2">Infrastructure:</td>
            <td>GitHub, Docker, PipEnv, Amazon S3</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

{% endblock %}