{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} | Countdown Letters | Selection{% endblock title %}

{% block content %}
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <div class="media-body text-center">
          <h6 class="font-weight-bold mb-0 lead mt-3">Take on Susie Dent at the Letters Game</h6>
          <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/countdown_letters.jpg"
               class="mt-3 mb-3"
               alt="Countdown Letters"
          />
          <div class="client-quote d-flex flex-column container text-center mb-3">
            <blockquote class="font-italic quote-content">
              I've been studying the dictionary like crazy recently. Good luck!
            </blockquote>
            <i class="fas fa-quote-left"></i>
          </div>
          <div class="container">
            <form method="POST" action="{% url 'countdown_letters:selection' %}"
                  class="div-wrapper d-flex container text-center col-4"
            >
              {% csrf_token %}
              {{form|crispy}}
              <button class="btn btn-sm btn-success ml-2" type="submit">
                <i class="fa fa-sign-in"></i>
              </button>
            </form>
          </div>
          <p class="text-small text-muted">
            Pick either 3, 4, or 5 vowels. Remainder are automatically consonants.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
