{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Analyse Text{% endblock title %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      {% include 'text_analysis/components/game_title.html' %}
    </div>
  </section>
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <h6 class="mb-2">
        <p>Type or paste some text below, then click the 'Calculate!' button to get the
        number of occurences for each word and letter.</p>
        <p><u>Note</u>:</strong> To test the application, you can import
          <em>'lorem ipsum'</em> text to save time.</p>
      </h6>
      <form name="frm" action="{% url 'text_analysis:analysis' %}" method="GET">
        <textarea class="text-analysis-box mt-2 mb-2" id="text-analysis-box" name="fulltext" autofocus="autofocus" placeholder="Enter text here..." cols="82" rows="15"></textarea>
        <p class="ml-2">
          <strong class="mb-2"><u>Disclaimer</u>:</strong> 
          <span class="text-muted">The text you use is not recorded, logged or seen in any analytics.</span>
        </p>
        <button type="submit" onclick="return IsEmpty();" class="btn btn-sm btn-success mr-2"
          id="btn-analyse-text">
          <i class="fa fa-book mr-1"></i>
          Calculate
        </button>
        <button type="button" onclick="useLoremIpsum();" class="btn btn-sm btn-info mr-2"
          id="btn-use-lorem-ipsum">
          <i class="fa fa-font mr-1"></i>
          Use Lorem Ipsum
        </button>
      </form>
      <p><em><div class="no-words-msgbox" id="no-words-msgbox"></div></em></p>
    </div>
  </article>
{% endblock content %}

{% block additional_js %}
  <!-- Functionality to use Lorem Ipsum text in the input box -->
  <script src={% static 'assets/js/use-lorem-ipsum.js' %} type="text/javascript"></script>

  <!-- Functionality to return a no wards warning -->
  <script src={% static 'assets/js/no-words-warning.js' %} type="text/javascript"></script>
{% endblock additional_js %}