<div class="text-wrap text-sm-left mb-2">
  <h6 class="blog-categories-label">Blog Categories</h6>
</div>
<ul class="navbar-nav flex-column text-left">
  {% for category in categories_list %}
    <li class="nav-item font-weight-light">
      <a class="nav-link" href="{{ category.get_absolute_url }}">
        <i class="fa fa-caret-right ml-2 mr-2"></i>{{ category.name }}
        <span class="badge badge-light badge-pill ml-1">{{category.posts.count}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<hr class="col-8">