{% extends 'base.html' %}

{% block title %}{{ block.super }} | Blog Contents{% endblock title %}

{% block content %}
  {% include 'components/search_bar.html' %}
  <h6 class="text-center mt-5 mb-5">Blog Contents: ({{ posts.count }} Posts)</h6>
  {% for post in posts %}
    <article class="blog-post">
      <div class="container single-col-max-width alert">
        <table>
          <tr>
            <td width="75%">
              <h6 class="card-title">
                <a class="theme-link" href="{% url 'blog:post_detail' post.slug %}">
                  {{ post.title }}
                </a>
              </h6>
              <p class="article-content">{{ post.content|truncatewords_html:15|safe }}</p>
            </td>
            <td><img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}"></td>
          </tr>
        </table>
        {% include "components/meta_data.html" %}
      </div>
    </article>
    {% if not forloop.last %}<hr class="theme-link col-8">{% endif %}
  {% endfor %}
{% endblock content %}