<div class="cta-section text-center mb-3">
  <div class="pt-1">
    <h6>Browse Other Skills...</h6>
  </div>
  <nav class="blog-nav nav nav-justified col-9 container text-center pb-3 mb-3">
    <!-- Back End Skills -->
    <a class="nav-link-prev nav-item nav-link mr-3"
      href="{% url 'pages:back_end_skills' %}" data-toggle="tooltip"
      title="Back End">
      <i class="fa fa-info-circle mr-1"></i>
      Back End
    </a>
    <!-- Front End Skills -->
    <a class="nav-link-next nav-item nav-link mr-3"
      href="{% url 'pages:front_end_skills' %}" data-toggle="tooltip"
      title="Front End">
      <i class="fa fa-info-circle mr-1"></i>
      Front End
    </a>
    <!-- Infrastructure Skills -->
    <a class="nav-link-next nav-item nav-link mr-3"
      href="{% url 'pages:infrastructure_skills' %}" data-toggle="tooltip"
      title="Infrastructure">
      <i class="fa fa-info-circle mr-1"></i>
      Infrastructure
    </a>
    <!-- Software Skills -->
    <a class="nav-link-next nav-item nav-link mr-3"
      href="{% url 'pages:software_skills' %}" data-toggle="tooltip"
      title="Software">
      <i class="fa fa-info-circle mr-1"></i>
      Software
    </a>
  </nav>
</div>