{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="alert alert-light col-md-4 mb-0" role="alert">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Please Get in Touch!</legend>
          <table>{{ form|crispy }}</table>
        </fieldset>
      <div class="form-group">
        <button class="btn btn-secondary mr-2" type="submit">
          <i class="fa fa-envelope-open"></i>
          Send Message
        </button><br><br>
      </div>
    </form>
    <b>Links</b><br><br>
    <ul style="list-style-type:square;">
      <li><a href="{% url 'reading-list' %}">Reading List</a></li>
      <li><a href="https://notebooks.azure.com/wayne-a-lambert/projects"
        target="_blank">Data Science Notebooks</a>
      </li>
    </ul>
    <br><br>
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </div><br><br>
{% endblock content %}
