<div class="cv-footer text-center">
  <ul class="cv-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
    <li class="list-inline-item mb-lg-0 mr-3">
      <a class="cv-link" href="https://github.com/WayneLambert/" target="_blank">
        <i class="fab fa-github-square fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">GitHub</span>
      </a>
    </li>
    <li class="list-inline-item mb-lg-0 mr-3">
      <a class="cv-link" href="https://stackoverflow.com/users/11211077/wayne-lambert?tab=profile" target="_blank">
        <i class="fab fa-stack-overflow fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">Stack Overflow</span>
      </a>
    </li>
    <li class="list-inline-item mb-lg-0 mr-3">
      <a class="cv-link" href="https://www.linkedin.com/in/waynealambert/" target="_blank">
        <i class="fab fa-linkedin fa-2x mr-2" data-fa-transform="down-4"></i>
        <span class="d-none d-lg-inline-block text-muted">LinkedIn</span>
      </a>
    </li>
  </ul>
</div>