<h3 class="text-uppercase cv-section-heading mb-4">Skills</h3>
<div class="item">
  <h4 class="item-title">Technical</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">Django</li>
    <li class="mb-2">Python<li>
    <li class="mb-2">PostgreSQL</li>
    <li class="mb-2">HTML / CSS/ Sass / Bootstrap</li>
    <li class="mb-2">Docker</li>
    <li class="mb-2">GitHub</li>
  </ul>
</div>
<div class="item">
  <h4 class="item-title">Professional</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">Effective communication</li>
    <li class="mb-2">Team player<li>
      <li class="mb-2">Strong problem solver</li>
      <li>Good time management</li>
  </ul>
</div>
</section>