<ul class="no-bullets">
  <li class="nav-item">
    <h6 class="nav-link">Blog Categories</h6>
  </li>
</ul>
<ul class="navbar-nav flex-column text-left">
  {% for category in category_list %}
    <li class="nav-item">
      <a class="nav-link" href="{% url "blog:home" %}category/{{ category.slug }}">
        <i class="fas fa-book fa-fw ml-2 mr-2"></i>
        {{ category.name }} <span class="badge badge-light badge-pill"> {{category.posts.count}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<hr class="mb-4">