{% extends "blog/base.html" %}
{% block content %}
  <h3>Contents Page</h3>
  {% for category in categories %}
    <br>
    <h6><a class="category-name"
        href="{% url "blog-home" %}category/{{ category.slug }}">{{ category.name }}</a>
    </h6>
    {% for post in posts %}
      {% if category.id == posts.categories.id %}
      <a class="article-title"
        href="{% url 'post-detail' post.slug %}">- {{ post.title }}
      </a><br>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock content %}