{% extends 'base.html' %}

{% block content %}
  <h6 class="text-center mt-5 mb-5">Blog Contents: ({{ posts.count }} Posts)</h6>
  {% for post in posts %}
    <article class="blog-post">
      <div class="container single-col-max-width">
        <h6 class="card-title">
          <a class="theme-link" href="{% url 'blog:post_detail' post.slug %}">
            {{ post.title }}
          </a>
        </h6>
        <p class="article-content">{{ post.content|truncatewords:15|safe }}</p>
        {% include "post_components/meta_data.html" %}
        <hr style="background-color: #1762dd; height: 1.5px" />
      </div>
    </article>
  {% endfor %}
  {% include 'post_components/pagination_links.html' %}
{% endblock content %}