{% extends "blog/base.html" %}
{% block content %}
  {% for category in categories %}
    <h5><a class="article-title" href="#">{{ category.name }}</a></h5>
    {% for post in posts %}
      {% if {{ post.categories.0.name }} == category %} 
        <article class="media content-section">
          <img class="rounded article-img" src="{{ post.author.profile.profile_picture.url }}">
          <div class="media-body">
            {% include "blog/author_view.html" %}
            <h6><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h6>
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock content %}