{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.profile_picture.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
          <small class="text-muted">{{ post.publish_date|date:"D d-M-y" }}</small>
        </div>
        <h4><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h4>
        <br>
        <p class="article-content">{{ post.body|truncatewords:50  }}</p>
      </div>
    </article>
  {% endfor %}
  {% include "blog/pagination_links.html" %}
{% endblock content %}