{% extends 'base.html' %}
{% load static %}

<!-- Atom One Dark Syntax Highlighting CSS File -->
{% block additional_css %}
  <link rel="stylesheet" href="{% static 'highlight/styles/atom-one-dark.css' %}">
{% endblock additional_css %}

{% block title %}{{ block.super }} | Post Delete{% endblock title %}

{% block content %}
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4" id="warning-text">
            Delete <em>"{{ post.title }}"</em>?
          </legend>
            {{ object.content|safe|truncatewords:100 }}
            <a href="{{ post.reference_url }}" id="reference_url">{{ post.reference_url }}</a>
        </fieldset>
        <!-- Buttons -->
        <div class="form-group">
          <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>
            Delete
          </button>
          <button type="cancel" class="btn btn-secondary mr-2" 
            onclick="window.location='{% url 'blog:post_detail' post.slug %}';return false;">
            <i class="fa fa-close"></i>
            Cancel
          </button>
        </div>
      </form>
    </div>
  </article>
{% endblock content %}

<!-- CDN Link for Syntax Highlighting JS from highlightjs.org/download -->
{% block additional_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock additional_js %}