{% extends 'base.html' %}
{% load static %}

{% block content %}
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      {% if 'update' in request.path %}
        {% include 'post_components/post_update.html' %}
      {% else %}
        {% include 'post_components/post_create.html' %}
      {% endif %}
    </div>
  </article>

{% endblock content %}

<!-- Functionality for character counter -->
{% block additional_js %}
  <script src={% static 'assets/js/counter.js' %} type="text/javascript"></script>
{% endblock additional_js %}