{% extends "base.html" %}
{% load static %}

{% block content %}
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      {% include "post_components/meta_data.html" %}
      <!-- Post Author and Meta Data -->

      <!-- Post Image and Caption -->
      {% include 'post_components/image.html' %}

      <!-- Post Content -->
      <p class="article-content">{{ post.content|safe }}</p>
      <a href="{{ post.reference_url }}" id="reference_url">{{ post.reference_url }}</a>

      <!-- Nav Links -->
      {% include 'post_components/nav.html' %}
    </div>
  </article>
{% endblock content %}