{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ block.super }} | Blog Posts{% endblock title %}

{% block content %}
  {% include 'components/search.html' %}
  {% include 'blog/posts_list_count.html' %}
  {% for post in posts %}
    <article class="blog-post mt-1">
      <div class="container single-col-max-width">
        <div class="article-metadata">
          <table class="table table-striped">
            <tbody>
              <tr>
                <!-- 1st Column with User Avatar -->
                <th>
                  <img class="rounded-circle article-img" src="{{ post.author.user.profile_picture.url }}">
                </th>
                <!-- 2nd Column with all other post data -->
                <th>
                  <ul class="no-bullets">
                    <li>
                    <li>
                      <a class="theme-link" href="{% url 'blog:post_detail' post.slug %}">
                        {{ post.title }}
                      </a>
                    </li>
                      <li>
                        <small class="text-muted"><strong>Author: </strong></small>
                        <small class="text-muted">
                          <a class="theme-link" href="{% url 'blog:user_posts' post.author.username %}">
                          {% if post.author.user.author_view == 0 %}
                            {{ post.author.username }}
                          {% else %}
                            {{ post.author.user.full_name }}
                          {% endif %}
                          </a>
                        </small>
                      </li>
                      <li>
                        <small class="text-muted">
                          <strong>Published:</strong> {{ post.publish_date|date:"D d-M-y" }} ({{ post.publish_date|timesince }} ago)  |  
                          <strong>Updated:</strong> {{ post.updated_date|date:"D d-M-y" }} ({{ post.updated_date|timesince }} ago)
                        </small>
                      </li>
                      <li>
                        <small class="text-muted">
                          <strong>Categories:</strong>
                          {% for category in post.categories.all %}
                            <a class="theme-link" href="{% url 'blog:category_posts' category.slug %}">{{ category.name }}</a>
                            {% if not forloop.last %}  |  {% endif %}
                          {% endfor %}
                        </small>
                      </li>
                      <li>
                        <small class="text-muted">
                          <span class="time">{{ post.word_count|intcomma }} words</span>  |  <span class="time">{{ post.reading_time }} min read</span>
                        </small>
                      </li>
                      <li class="mt-4">
                        <small class="text-muted">
                          <span>{{ post.content|truncatewords:40|safe }}</span>
                        </small>
                      </li>
                    </li>
                  </ul>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  {% endfor %}
  {% include 'components/pagination_nav.html' %}
{% endblock content %}