{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          {% if 'update' in request.path %}
            Update Post
          {% else %}
            Create Post
          {% endif %}
        </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-info mr-2" type="submit">
          {% if 'update' in request.path %}
            Update
          {% else %}
            Create
          {% endif %}
        </button>
        <a class="btn btn-secondary mr-2" href="{% url 'post-detail' object.slug %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}