<div class="col-md-2 ml-auto">
  <div class="panel panel-list">
    {% comment %} <h6 align="center">Categories</h6> {% endcomment %}
    <ul class="list-group">
        {% for blog_category in blog_categories %}
          <button onclick="window.location.href ='{% url "blog-django" %}category/{{ blog_category.slug }}';"
            class="list-group-item-light list-group-item-action
            py-1 d-flex justify-content-between align-items-center border-0">
            {{ blog_category.name }}
            <span class="badge badge-info badge-pill">{{blog_category.posts.count}}</span>
          </button>
        {% endfor %}
    </ul> 
  </div>
</div>