{% extends "blog/base.html" %}
{% block content %}
  {% include "blog/search_box.html" %}
  <h6 class="mb-3">
    Post{% if page_obj.paginator.count > 1 %}s{% endif %}
    authored by {{ view.kwargs.username }}: {{ page_obj.paginator.count }}
  </h6>
  {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.profile_picture.url }}">
      <div class="media-body">
        {% include "blog/author_view.html" %}
        <h4><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h4>
        <p class="article-content">{{ post.content|safe|truncatewords:50 }}</p>
        <a href="{{ post.reference_url }}" id="reference_url">{{ post.reference_url }}</a><br><br>
        <a href="{% url 'post-detail' post.slug  %}" class="btn btn-info">Read More &rarr;</a>
      </div>
    </article>
  {% endfor %}
  {% include "blog/pagination_links.html" %}
{% endblock content %}