{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <div class="countdown-photo">
    <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/countdown.png"
    alt="countdown">
  </div>
  <div class="countdown-text">
    <h6>Please choose the longest eligible word you can find using letters below.</h6><br>
    <div class="letters-selected col-sm-4">
      {{ request.GET.letters_chosen }}
    </div><br>
    <form id="selected-letters-form" action="{% url 'game' %}"
      method="POST" class="form-horizontal col-sm-4">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-sm btn-success mr-10" type="submit">
        <i class="fa fa-sign-in"></i>
        Submit
      </button><br><br>
    </form>
  </div>
{% endblock content %}
