<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <br /><br />
    <table align="center" width="600" style="border-collapse: collapse;">
      <!-- Logo Row -->
      <tr align="left" valign="top">
        <td width="100%" align="left" valign="top">
        </td>
      </tr>

      <!-- Subject Row -->
      <tr align="left" valign="top">
        <td width="100%" align="left" valign="top">
          <div style="background-color:#1762dd; text-align:center; color:white;">
            <h3>{% block subject %}{% endblock subject %}</h3>
          </div>
        </td>
      </tr>

      <!-- Body Row -->
      <tr align="left" valign="top">
        <td width="100%" align="left" valign="top">
          {% block email_body %}
          {% endblock email_body %}
        </td>
      </tr>
    </table>
  </body>
</html>
