<nav class="blog-nav nav nav-justified my-5">
  <!-- Previous Post -->
  <a class="nav-link-prev nav-item nav-link rounded-left"
    href="{% url 'blog:post_detail' prev_post.slug %}" data-toggle="tooltip"
    title="{{ prev_post.title }}">
    {{ prev_post.title|truncatechars:35 }}
    <i class="arrow-prev fas fa-long-arrow-alt-left"></i>
  </a>
  <!-- Next Post -->
  <a class="nav-link-next nav-item nav-link rounded-right"
    href="{% url 'blog:post_detail' next_post.slug %}" data-toggle="tooltip"
    title="{{ next_post.title }}">
    {{ next_post.title|truncatechars:35 }}
    <i class="arrow-next fas fa-long-arrow-alt-right"></i>
  </a>
</nav>