<!-- Search Bar -->
<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <form class="signup-form form-inline justify-content-center pt-3"
      action="{% url 'blog:search_results' %}" method="get">
      <div class="form-group">
        <input placeholder="Search Blog..." name="q" type="text" class="form-control mr-md-1"
        onfocus="if (this.placeholder=='Search Blog...') {this.placeholder='';}">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</section>