<h3 class="text-uppercase cv-section-heading mb-4">Skills</h3>
<div class="item">
  <h4 class="item-title">Technical</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">Django / Django REST</li>
    <li class="mb-2">Python<li>
    <li class="mb-2">PyTest<li>
    <li class="mb-2">PostgreSQL</li>
    <li class="mb-2">HTML / Sass / Bootstrap</li>
    <li class="mb-2">JavaScript</li>
    <li class="mb-2">Docker</li>
    <li class="mb-2">Git / GitHub</li>
  </ul>
</div>
<div class="item">
  <h4 class="item-title">Professional</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">Stakeholder Management</li>
    <li class="mb-2">Agile</li>
    <li class="mb-2">Project Management</li>
    <li class="mb-2">Strong problem solver</li>
  </ul>
</div>