<div class="item p-0">
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Architecture & Systems Design</h4>
    <ul class="px-3">
      <li>
        System Design & Architecture
      </li>
      <li>
        High-Volume Processing
      </li>
      <li>
        Concurrency & Async Workflows
      </li>
      <li>
        Multi-tenant Systems
      </li>
      <li>
        Performance Optimisation
      </li>
      <li>
        Data Integrity & Reliability
      </li>
      <li>
        Observability & Monitoring
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Distributed Systems</h4>
    <ul class="px-3">
      <li>
        Async Processing
      </li>
      <li>
        Concurrency Control
      </li>
      <li>
        Celery
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Data & Processing Systems</h4>
    <ul class="px-3">
      <li>
        ELT Pipelines
      </li>
      <li>
        Query Optimisation
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Infrastructure & Deployment</h4>
    <ul class="px-3">
      <li>
        Containerisation (Docker)
      </li>
      <li>
        Deployment Automation
      </li>
      <li>
        Terraform (Infrastructure as Code)
      </li>
      <li>
        AWS (EC2, S3, RDS, IAM)
      </li>
      <li>
        Source Control (Git)
      </li>
      <li>
        Release Management
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Software Engineering</h4>
    <ul class="px-3">
      <li>
        Application Architecture
      </li>
      <li>
        Design Patterns
      </li>
      <li>
        API Contract Design
      </li>
      <li>
        Interaction & Integration Patterns
      </li>
      <li>
        Code Quality & Maintainability
      </li>
      <li>
        Testing & Validation
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Databases</h4>
    <ul class="px-3">
      <li>
        Distributed Query Processing
      </li>
      <li>
        SQL Server
      </li>
      <li>
        Oracle
      </li>
      <li>
        PostgreSQL
      </li>
    </ul>
  </section>
  <section class="expertise-class">
    <h4 class="item-title p-0 m-0 pb-1">Web Interfaces</h4>
    <ul class="px-3">
      <li>
        Django Templates
      </li>
      <li>
        HTMX, Alpine.js
      </li>
      <li>
        JavaScript Interaction Design
      </li>
      <li>
        UI Components & Data Visualisation
      </li>
    </ul>
  </section>
</div>
