<div class="isotope-item col-md-6 mb-5 djangoapp">
  <div class="card project-card">
    <div class="row no-gutters">
      <div class="col-lg-4 card-img-holder">
        <img class="card-img" src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/projects/blog.jpg" alt="image">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'blog:home' %}" class="theme-link">Blog</a></h5>
          <p class="card-text">A full CRUD application using Django's models, views, and templates.</p>
        </div>
      </div>
    </div>
    <div class="link-mask">
      <a class="link-mask-link" href="{% url 'blog:home' %}"></a>
      <div class="link-mask-text">
        <a class="btn btn-secondary" href="{% url 'blog:home' %}">
          <i class="fas fa-arrow-circle-right mr-2"></i>
          View Blog
        </a>
      </div>
    </div>
  </div>
</div>