<div class="isotope-item col-md-6 mb-5 pythonapp djangoapp">
  <div class="card project-card">
    <div class="row no-gutters">
      <div class="col-lg-4 card-img-holder">
        <img class="card-img" src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/projects/countdown-letters.jpg" alt="image">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'countdown_letters:selection' %}" class="theme-link">Countdown: Letters Game</a></h5>
          <p class="card-text">Take on Susie Dent in this simulation of the letters game from Countdown.</p>
        </div>
      </div>
    </div>
    <div class="link-mask">
      <a class="link-mask-link" href="{% url 'countdown_letters:selection' %}"></a>
      <div class="link-mask-text">
        <a class="btn btn-secondary" href="{% url 'countdown_letters:selection' %}">
          <i class="fas fa-arrow-circle-right mr-2"></i>
          Play Countdown Letters Game
        </a>
      </div>
    </div>
  </div>
</div>
