<section class="education-section py-3">
  <h3 class="text-uppercase cv-section-heading mb-4">Education</h3>
  <ul class="list-unstyled cv-education-list">
    <li class="mb-3">
      <div class="cv-degree font-weight-bold">MSc in Computer Science</div>
      <div class="cv-degree-org text-muted">University College London</div>
      <div class="cv-degree-time text-muted">2010 - 2011</div>
    </li>
    <li>
      <div class="cv-degree font-weight-bold">BSc Maths and Physics</div>
      <div class="cv-degree-org text-muted">Imperial College London</div>
      <div class="cv-degree-time text-muted">2007 - 2010</div>
    </li>
  </ul>
</section>