<div class="cv-header">
  <div class="row align-items-center">
    <div class="cv-title col-12 col-md-6 col-lg-8 col-xl-9">
      <h2 class="cv-name mb-0">Wayne Lambert</h2>
      <div class="cv-tagline mb-3 mb-md-0">Software Engineer</div>
    </div>
    <div class="cv-contact col-12 col-md-6 col-lg-4 col-xl-3">
      <ul class="list-unstyled mb-0">
        <li class="mb-2">
          <i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i>
          07950 315504
        </li>
        <li class="mb-2">
          <i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i>
          <a class="cv-link" href="mailto:contact@waynelambert.dev">contact@waynelambert.dev</a>
        </li>
        <li class="mb-2">
          <i class="fas fa-globe fa-fw fa-lg mr-2"></i>
          <a class="cv-link" href="https://waynelambert.dev" target="_blank">waynelambert.dev</a>
        </li>
        <li class="mb-0">
          <i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>
          Edgbaston, Birmingham
        </li>
      </ul>
    </div>
  </div>
</div>