interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.goodreads.com/quotes/55276-i-have-nothing-to-offer-but-blood-toil-tears-and
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"desktop withSiteHeaderTopFullImage\n\">\n<head
        prefix=\"og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# good_reads: http://ogp.me/ns/fb/good_reads#\">\n
        \ <title>Quote by Winston S. Churchill: \u201CI have nothing to offer but
        blood, toil, tears ...\u201D</title>\n\n<meta content='Winston S. Churchill
        \u2014 \u2018I have nothing to offer but blood, toil, tears and sweat. We
        have before us an ordeal of the most grievous kind. We have before u...' name='description'>\n<meta
        content='telephone=no' name='format-detection'>\n<link href='https://www.goodreads.com/quotes/55276-i-have-nothing-to-offer-but-blood-toil-tears-and'
        rel='canonical'>\n  <!-- OPEN GRAPH-->\n  <meta content='2415071772' property='fb:app_id'>\n<meta
        content='A quote by Winston S. Churchill' property='og:title'>\n<meta content='I
        have nothing to offer but blood, toil, tears and sweat. We have before us
        an ordeal of the most grievous kind. We have before us many, many long months...'
        property='og:description'>\n<meta content='https://images.gr-assets.com/authors/1306133803p8/14033.jpg'
        property='og:image'>\n<meta content='https://www.goodreads.com/quotes/55276-i-have-nothing-to-offer-but-blood-toil-tears-and'
        property='og:url'>\n<meta content='https://www.goodreads.com/author/show/14033.Winston_S_Churchill'
        property='og:see_also'>\n\n\n\n\n  \n  <!-- * Copied from https://info.analytics.a2z.com/#/docs/data_collection/csa/onboard
        */ -->\n<script>\n  //<![CDATA[\n    !function(){function n(n,t){var r=i(n);return
        t&&(r=r(\"instance\",t)),r}var r=[],c=0,i=function(t){return function(){var
        n=c++;return r.push([t,[].slice.call(arguments,0),n,{time:Date.now()}]),i(n)}};n._s=r,this.csa=n}();\n
        \   \n    if (window.csa) {\n      window.csa(\"Config\", {\n        \"Application\":
        \"GoodreadsMonolith\",\n        \"Events.SushiEndpoint\": \"https://unagi.amazon.com/1/events/com.amazon.csm.csa.prod\",\n
        \       \"Events.Namespace\": \"csa\",\n        \"CacheDetection.RequestID\":
        \"1636TZTPTKCJT5RET4TA\",\n        \"ObfuscatedMarketplaceId\": \"A1PQBFHBHS6YH1\"\n
        \     });\n    \n      window.csa(\"Events\")(\"setEntity\", {\n        session:
        { id: \"180-3477019-0715857\" },\n        page: {requestId: \"1636TZTPTKCJT5RET4TA\",
        meaningful: \"interactive\"}\n      });\n    }\n    \n    var e = document.createElement(\"script\");
        e.src = \"https://m.media-amazon.com/images/I/41mrkPcyPwL.js\"; document.head.appendChild(e);\n
        \ //]]>\n</script>\n\n\n          <script type=\"text/javascript\">\n        if
        (window.Mobvious === undefined) {\n          window.Mobvious = {};\n        }\n
        \       window.Mobvious.device_type = 'desktop';\n        </script>\n\n\n
        \ \n<script src=\"https://s.gr-assets.c[...]
