<!-- Profile Picture -->
<div class="custom-file mb-4">
  <input type="file" class="custom-file-input" name="profile_picture" accept="image/*" 
  id="{{ profileupdateform.profile_picture.id_for_label }}">
  <label class="custom-file-label" for="{{ profileupdateform.profile_picture.id_for_label }}">
    {{ user.user.profile_picture.name}}
  </label>
  <div class="small text-muted">{{ profileupdateform.profile_picture.help_text }}</div>
  <span class="text-danger small">{{ profileupdateform.profile_picture.errors }}</span>
</div>