{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | Password Reset{% endblock title %}

{% block content %}
  <div class="container col-6 py-5">
    <div class="auth-wrapper theme-bg-light mx-auto shadow p-5 rounded">
      <h5 class="auth-heading text-center mb-2">Reset Password</h5>
      <div class="auth-form-container text-left mx-auto">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            {% render_field form.email class+="form-control" placeholder="Email Address" %}
          </fieldset>
          <button class="btn btn-primary btn-block mx-auto" type="submit">
            <i class="fa fa-sign-in mr-1"></i>Request Password Reset
          </button>
        </form>
        <div class="border-top">
          <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'blog:users:login' %}">Sign In</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}