{% extends 'base.html' %}

{% block title %}{{ block.super }} | Password Reset Sent{% endblock title %}

{% block content %}
  <div class="container col-6 py-5">
    <div class="auth-wrapper mx-auto shadow p-5 rounded">
      <h5 class="auth-heading text-center mb-2">Email Sent. Please check your inbox.</h5>
      <div class="auth-form-container text-left mx-auto">
        <p>
          An email with instructions for resetting your password has been sent.
          You should receive it shortly.
        </p>
        <p>
          If you don't receive an email, please make sure that you've entered the
          address you registered with and check your spam folder.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}