{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} | Password Reset{% endblock title %}

{% block content %}
  <article class="blog-post col-md-4 px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          {{ form|crispy }}
        </fieldset>
        <button class="btn btn-info mb-3" type="submit">
          <i class="fa fa-sign-in"></i>
          Request Password Reset
        </button>
      </form>
    </div>
  </article>
{% endblock content %}