{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <article class="blog-post col-md-6 px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Reset Password</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-info" type="submit">Request Password Reset</button>
        </div>
      </form>
    </div>
  </article>
{% endblock content %}