{% extends 'base.html' %}

{% block title %}{{ block.super }} | Password Reset Sent{% endblock title %}

{% block content %}
  <article class="blog-post col-md-6 px-3 py-5 p-md-5">
    <div class="container single-col-max-width alert-info py-2">
      <h5>Email Sent. Please check your inbox.</h5>
      <p>An email with instructions for resetting your password has been sent.
        You should receive it shortly.
      </p>
      <p>If you don't receive an email, please make sure that you've entered the
        address you registered with and check your spam folder.
      </p>
    </div>
  </article>
{% endblock content %}