{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ user.user.full_name }} | Profile{% endblock title %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <legend class="border-bottom mb-4">{{ user.user.full_name }}</legend>
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.user.profile_picture.url }}">
        <div class="media-body">
          <p class="ml-5">Username: {{ user.username }}</p>
          <p><a class="ml-5" href="mailto:{{ user.email }}">{{ user.email }}</a></p>
          <ul class="no-bullets mt-3">
            <li><small class="ml-5">Join Date: {{ user.date_joined|date:"d-M-y H:i" }}</small></li>
            <li><small class="ml-5">Last Seen: {{ user.last_login|date:"d-M-y H:i" }}</small></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}