{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | {{ user.user.full_name }} | Profile{% endblock title %}

{% block content %}
  <div class="container col-8 py-5">
    <div class="auth-wrapper theme-bg-light mx-auto shadow p-5 rounded">
      <div class="auth-form-container text-left mx-auto">
        <h3>
          {% if user.user.full_name %}{{ user.user.full_name }}{% else %}{{ user.username }}{% endif %}
        </h3>
        <table>
          <td>
            <img class="rounded-circle profile-avatar img-fluid" src="{{ user.user.profile_picture.url }}">
            {% if user.is_authenticated and user.username == request.user.username %}
              <p class="text-center mt-3">
                <a class="theme-link" href="{% url 'blog:users:profile_update' user.user.slug %}"><i class="fa fa-pencil mr-2"></i>Update Profile</a>
              </p>
            {% endif %}
          </td>
          <td>
            <div class="ml-4 pb-5">
              <p><strong>Username: </strong>{{ user.username }}</p>
              <p><strong>Email:</strong><a class="ml-1" href="mailto:{{ user.email }}">{{ user.email }}</a></p>
              <ul class="no-bullets mt-2">
                <li class="mb-0"><small><strong>Join Date: </strong>{{ user.date_joined|date:"d-M-y H:i" }}</small></li>
                <li class="mb-0"><small><strong>Last Login: </strong>{{ user.last_login|date:"d-M-y H:i" }}</small></li>
              </ul>
            </div>
          </td>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}