{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} | {{ user.user.full_name }} | Profile Update{% endblock title %}

{% block content %}
  <div class="container col-8 py-5">
    <div class="auth-wrapper theme-bg-light mx-auto shadow p-5 rounded">
      <div class="auth-form-container text-left mx-auto">
        <table>
          <td>
            <img class="rounded-circle profile-avatar img-fluid ml-3 mb-2" src="{{ user.user.profile_picture.url }}">
          </td>
          <td class="container">
            <div class="class text-center">
              <h3>
                {% if user.user.full_name %}{{ user.user.full_name }}{% else %}{{ user.username }}{% endif %}
              </h3>
            </div>
          </td>
        </table>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <div class="form-row">
              <div class="form-group col-md-12 mb-0">
                {{ user_form.email|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ user_form.username|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ user_form.first_name|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ user_form.last_name|as_crispy_field }}
              </div>
            </div>
            {% include 'components/profile_picture.html' %}
            {% include 'components/author_view.html' %}
            {% include 'components/buttons.html' %}
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block additional_js %}
  <!-- Functionality for selected filename from input selector to be displayed -->
  <script src={% static 'assets/js/input-filename.js' %} type="application/javascript"></script>
{% endblock additional_js %}