{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <article class="blog-post col-md-6 px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Register for an Account Today</legend>
          {{ form|crispy }}
        </fieldset>
        <button class="btn btn-info" type="submit">
          <i class="fa fa-sign-in"></i>
          Register
        </button><br><br>
      </form>
      <div class="border-top" pt-3>
        <small class="text-muted">
          Already have an account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
        </small>
      </div>
    </div>
  </article>
{% endblock content %}