.letter {

  .letter-inner {
    border: 2px solid rgba(0, 0, 0, 0.025);
    height: 100%;
    background-color: $countdown-letter-number-divider-color;
  }

}

.letter-text {
  font-weight: bold;
  font-size: 2.4rem;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: $countdown-game-color;
  border: medium;
}

.game-letters-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-card {
  display: flex;
  flex-direction: column;
}
