.cv-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.025);
}

.cv-header {
  background: $theme-color-primary;
  color: rgba(256, 256, 256, 0.9);
  height: 180px;

  .name {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .title {
    font-size: 1.5rem;
  }

  a {
    color: rgba(256, 256, 256, 0.6);

    &:hover {
      color: white;
    }

  }
}

.cv-social {
  font-size: 0.875rem;

  .fa-container {
    font-size: 1rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    @include border-radius(0.125rem);
    background: white;
    color: $theme-color-primary;
  }

}

.cv .type {
  display: inline-block;
  padding: 0.275rem 0.875rem;
  border-top: none;
  border-radius: 4px;
  cursor: pointer;
}

.cv .type.active {
  background: $theme-color-primary;
  color: #fff;
}

.cv-section-heading {
  position: relative;
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: 0.15rem;
  color: $theme-color-primary;
   &:before {
     content: "";
      display: inline-block;
      width: 5px;
      height: 100%;
      background: $theme-color-primary;
      position: absolute;
      left: 0;
      top: 0;
   }
}

a.cv-link {
  color: $theme-text-color-secondary;
  &:hover {
    color: $theme-color-primary;
  }
}

.cv-intro {
  font-size: 0.875rem;
}
.cv-main {
  .item-title {
    font-size: 1rem;
  }
  
   .item-meta {
     font-size: 0.75rem;
   }
   .item-content {
    font-size: 0.875rem;
  }
}

.cv-aside {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  .item {
    font-size: 0.875rem;
  }
  .item-title {
    font-size: 1rem;
  }
  
}

.cv-education-list {
    font-size: 0.875rem;
}

.cv-degree-time-org, .cv-degree-time {
  font-size: 0.75rem;
}

.cv-lang-list, .cv-interests-list {
  font-size: 0.875rem;
}
