$font: 'Poppins',
sans-serif;


.error-code {
  text-transform: uppercase;
  background: repeating-linear-gradient(45deg,
      #f6d200,
      #f6d200 10px,
      #181617 10px,
      #181617 20px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*animation: move 5s ease infinite;*/
  font-size: 300px;
  margin: 0;
  line-height: .8;
  position: relative;

  &:before,
  &:after {
    content: "Caution";
    background-color: #f6d200;
    color: #181617;
    border-radius: 10px;
    font-size: 35px;
    position: absolute;
    padding: 31px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-fill-color: #181617;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  &:before {
    content: "";
    padding: 70px 130px;
    background: repeating-linear-gradient(45deg, #f6d200, #f6d200 10px, #181617 10px, #181617 20px);
    box-shadow: 0px 0px 10px #181617;
  }

  & span:before,
  & span:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #757575;
    color: #757575;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 20%;
    z-index: 3;
    box-shadow: 0px 60px 0 0px;
  }

  span:before {
    left: 37%;
    transform: rotate(22deg);
    top: -44%;
  }

  span:after {
    right: 34%;
    transform: rotate(22deg);
    top: 3%;
  }
}


// 500 Error Page
.error-screen-500 {
  background-color: $theme-color-primary;
  color: white;
  font-family: 'Arial Black';
  text-align: center;
}

.error-screen-container {
  padding-top: 4em;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.error-num {
  font-size: 8em;
}

.eye {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;

  &::after {
    background: #000;
    border-radius: 50%;
    bottom: 56.1px;
    content: ' ';
    height: 33px;
    position: absolute;
    right: 33px;
    width: 33px;
  }
}
