/* ===== Forms (basic) ===== */
.custom-select, .custom-range {
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance: none;
}

label {
  font-weight: 600;
  color: $text-color;
  .help-block {
    font-weight:400;
    
  }
}
.help-block {
  color: $grey;
  font-size: 13px;
  margin-top: 5px;
}
.form-cvc {
  max-width: 100px;
}
.form-group-striped {
  .form-group{
    padding: 15px 0;
      margin-bottom: 0;
    &:nth-child(odd) {
      background: $smoky-grey;

    }
  }
}
.form-control {
   font-size: 14px;
   @include box-shadow(none);
  border-color: darken($smoky-grey, 10%);
  @include border-radius(2px);
  @include placeholder(lighten($text-color-secondary, 30%));
  height: auto;
  &:focus {
    border-color: darken($smoky-grey, 20%);
    @include box-shadow(none);
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: $smoky-white;
  color: $light-grey;
}
.checkbox.disabled label, .radio.disabled label, fieldset[disabled] .checkbox label, fieldset[disabled] .radio label {
  color: lighten($text-color-secondary, 20%);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea
{
  appearance: none;  /* for mobile safari */
  -webkit-appearance: none;
}

#focusedInput {
  border-color: lighten($color-primary, 10%);
  @include box-shadow(none);
  
  .theme-2 & {
        border-color: lighten($theme-2, 10%);
    }
    .theme-3 & {
        border-color: lighten($theme-3, 10%);
    }
    .theme-4 & {
        border-color: lighten($theme-4, 10%);
    }
  
}


.input-group-addon {
  background: $smoky-grey;
  color: $text-color-secondary;
}

.option-divider {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  color: #999999;
  text-transform: uppercase;
  span {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    position: relative;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: darken($smoky-grey, 2%);
    height: 1px;
    width: 100%;
  }
}

.valid-tooltip {
  background-color: rgba($color-green, 0.8);
}

.invalid-tooltip {
  background-color: rgba($color-red, 0.8);
}

.valid-feedback {
  color: $color-green;
}

.invalid-feedback {
  color: $color-red;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
  border-color: $color-green;
  &:focus {
    border-color: rgba($color-green, 0.8);
  }
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  color: $color-green;
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid{
  border-color: $color-red;
  &:focus {
    border-color: $color-red;
  }
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: $color-red;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: $color-red;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: $color-red;
  &:focus {
    border-color: $color-red;
  }
}


/* ===== Forms (advanced) ===== */
/* Bootstrap slider */
.slider-track {
  background: darken($smoky-grey, 5%);
  @include gradient (darken($smoky-grey, 5%), darken($smoky-grey, 5%));
  @include box-shadow(none);
}
.slider-selection {
  background: $color-primary;
  
  .theme-2 & {
    background: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
  }
}

.slider-handle {
  background-color: darken($color-primary, 15%);
  @include gradient (darken($color-primary, 15%), darken($color-primary, 15%));
  
  .theme-2 & {
    background-color: darken($theme-2, 15%);
    @include gradient (darken($theme-2, 15%), darken($theme-2, 15%));
  }
  .theme-3 & {
    background-color: darken($theme-3, 15%);
    @include gradient (darken($theme-3, 15%), darken($theme-3, 15%));
  }
  .theme-4 & {
    background-color: darken($theme-4, 15%);
    @include gradient (darken($theme-4, 15%), darken($theme-4, 15%));
  }
  
}

.slider-selection.tick-slider-selection {
  background-color: $color-primary;
  @include gradient ($color-primary, $color-primary);
  
  .theme-2 & {
    background-color: $theme-2;
    @include gradient ($theme-2, $theme-2);
  }
  .theme-3 & {
    background-color: $theme-3;
    @include gradient ($theme-3, $theme-3);
  }
  .theme-4 & {
    background-color: $theme-4;
    @include gradient ($theme-4, $theme-4);
  }
}

.slider-tick {
  background: darken($smoky-grey, 5%);
  @include gradient (darken($smoky-grey, 5%), darken($smoky-grey, 5%));
  @include box-shadow(none);
  border: none;
}

.slider-tick.in-selection {
  background-color: $color-primary;
  @include gradient ($color-primary, $color-primary);
  
  .theme-2 & {
    background-color: $theme-2;
    @include gradient ($theme-2, $theme-2);
  }
  .theme-3 & {
    background-color: $theme-3;
    @include gradient ($theme-3, $theme-3);
  }
  .theme-4 & {
    background-color: $theme-4;
    @include gradient ($theme-4, $theme-4);
  }
}


.slider-vertical + .slider-vertical {
  margin-left: 15px;
  margin-bottom: 15px;
}

.bootstrap-switch {
  border-color: darken($smoky-grey, 5%);
  font-weight: 600;
  color: $text-color-secondary;
  &.bootstrap-switch-focused {
    border-color: darken($smoky-grey, 10%);
    @include box-shadow(none);
  }
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: $text-color;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background: $color-primary;
  
  .theme-2 & {
    background: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
  }
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background: darken($smoky-grey, 5%);
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
  background: $color-primary;
  text-shadow: none;
  
  .theme-2 & {
    background: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
  }
}

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
  background: $color-primary;
  text-shadow: none;
  
  .theme-2 & {
    background: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
  }
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:focus, .datepicker table tr td span.active:hover:focus, .datepicker table tr td span.active.disabled:focus, .datepicker table tr td span.active.disabled:hover:focus, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td span.active, .open .dropdown-toggle.datepicker table tr td span.active:hover, .open .dropdown-toggle.datepicker table tr td span.active.disabled, .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background: $color-primary;
  border-color: $color-primary;
  text-shadow: none;
  
  .theme-2 & {
    background: $theme-2;
    border-color: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
    border-color: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
    border-color: $theme-4;
  }
}

.datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
  text-shadow: none;
}

.input-daterange .input-group-addon {
  text-shadow: none;
  background: $smoky-grey;
}

.datepicker-inline {
  border: 1px solid darken($smoky-grey, 5%);
}



.chosen-container {

  .chosen-choices {
    border: 1px solid darken($smoky-grey, 10%);
    @include box-shadow(none);
    background-image: none;

    li.search-field input[type=text] {
      color: lighten($text-color-secondary, 20%);
    }
  }
  .chosen-drop {
    border: 1px solid darken($smoky-grey, 10%);
  }
  .chosen-results {
    li {
      &.highlighted {
        background: $color-primary;
        
        .theme-2 & {
                background: $theme-2;
            }
            .theme-3 & {
                background: $theme-3;
            }
            .theme-4 & {
                background: $theme-4;
            }
        
      }
    }
  }
}
.chosen-container .chosen-results li.highlighted {
  background: $color-primary;
  background-image: none;
  
  .theme-2 & {
    background: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
  }
}
.chosen-container-single .chosen-single, .chosen-container-single.chosen-container-active .chosen-single  {
  background: none;
  @include box-shadow(none);
  @include border-radius(0);
}

.chosen-container-multi .chosen-choices li.search-choice {
  border: 1px solid darken($smoky-white, 5%);
  padding: 4px 20px 4px 5px;
  color: $text-color;
  background: $smoky-white;
}


.chosen-container-multi .chosen-choices {
    border-color: darken($smoky-grey, 10%);
    @include border-radius(2px);
}

.chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
  @include transition(none);
}

.chosen-container-single .chosen-single {
  border: 1px solid darken($smoky-grey, 10%);
  padding: 6px 12px;
  height: 34px;
  line-height: 1.42857143
}

.chosen-container-single .chosen-single div {
  top: 5px;
}

.chosen-container-single .chosen-search input[type=text] {
  border: 1px solid darken($smoky-grey, 5%);
}




.md-editor>textarea {
  border-color: darken($smoky-grey, 10%);
  background: lighten($smoky-grey, 2%);
}

.md-editor.active {
  border-color: darken($smoky-grey, 20%);
  @include box-shadow(none);
}

.md-editor>textarea, .md-editor>.md-preview {
    padding: 10px;
}

.md-editor, .md-preview {
  border-color: darken($smoky-grey, 10%);
  background: #fff;
}

.md-fullscreen {
  position: fixed;
}

/* DateTimne Pickers */
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {
  top: 7px;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
  background-color: $color-primary;
  border-color: $color-primary;
  
  
  .theme-2 & {
    background-color: $theme-2;
    border-color: $theme-2;
  }
  .theme-3 & {
    background: $theme-3;
    border-color: $theme-3;
  }
  .theme-4 & {
    background: $theme-4;
    border-color: $theme-4;
  }
}


/* ===== Forms (validation) ===== */
.form-control.parsley-error {
    border-color: $error;
}
.parsley-errors-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.parsley-errors-list {
  padding-left: 0;
  margin-bottom: 15px;
  li {
    list-style: none;
    color: $color-red;

  }
}

/* ===== Forms (in-place editing) ===== */
.view-editable {
  .table {
    .input-type {
      width: 20%;
      font-weight: 600;
      .label {
        margin-left: 5px;
      }
    }
  }
}
.editable-click, a.editable-click, a.editable-click:hover {
  border-color: lighten($text-color-secondary, 20%);
  color: $text-color;
}

.editable-empty, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
  color: $color-red;
}


/* ===== Forms Dropzone ==== */
.dropzone {
    border: 2px dashed $color-primary;
    background: #fff;
    
    .theme-2 & {
        border-color: $theme-2;
    }
    .theme-3 & {
        border-color: $theme-3;
    }
    .theme-4 & {
        border-color: $theme-4;
    }
}
.dz-message {
    font-weight: 500;
    font-size: 18px;
    color: $text-grey;
}

/* ===== Summernote Form Override ===== */
.note-editor.note-frame {
  border-color: $divider;
}

.note-editor .note-editing-area {
  min-height: 160px;
}

/* ===== Forms ===== */
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    @include box-shadow(none);
    color: rgba(0, 0, 0, 0.3);
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .chosen-container {
        width: 100% !important;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
