.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.module-content {
  font-size: 14px;
}

.dataTables_filter {
  .form-control {
    height: 1rem;
  }
}

.custom-select {
  font-weight: normal;
  display: inline-block;
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1rem;
  height: 2rem;
  vertical-align: middle;
}
