{% extends 'base.html' %}

{% load static %}
{% load ext_links %}

{% block title %}{{ block.super }} | Roulette | Destination{% endblock title %}

{% block content %}
  <section class="container single-col-max-width project px-3 py-5 p-md-5">
    <div class="card theme-bg-light p-3 mt-4 mb-3">
      <h4 class="text-center">Congratulations! You are going to {{ most_selected_place }}!</h4>
      <img src={{ destination_image_url }} />
      <h6 class="mt-3">The results of the selections were:</h6>
      {% for key, value in places_to_go.items %}
        <ul class="no-bullets">
          <li>
            {% if key == most_selected_place %}
              <span style="background-color: yellow">
                <strong>{{ key }} : {{ value }}</strong>
              </span>
            {% else %}
              {{ key }} : {{ value }}
            {% endif %}
          </li>
        </ul>
      {% endfor %}
      <hr class="mt-2 mb-3">
      <h6>Detailed logging of the choices can be viewed here:</h6>
      <a href="{% url 'roulette:log_file' %}" class="theme-link">Log File</a>
    </div>

    <!--- Start Again Button -->
    <a href="{% url 'roulette:game' %}" class="btn btn-sm btn-success mt-2 mr-2">
      <i class="fa fa-repeat mr-1"></i>
      Start Again
    </a>

    <!--- View Code on GitHub Button -->
    <button type="submit" class="btn btn-sm btn-link btn-github mt-2"
      onclick="window.open('{% github_url type='code' app='roulette' %}', '_blank')">
      <i class="fa fa-github mr-1"></i>
      View Code
    </button>

  </section>
{% endblock content %}
