{% load google_analytics_tags %}
{% load static %}

<!doctype html>
<html lang="en">

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio of Wayne Lambert">
  <meta name="author" content="Wayne Lambert">
  <title>{% block title %}WayneLambert.dev{% endblock title %}</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" >

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'assets/plugins/tiny-slider/tiny-slider.css' %}">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-3.css' %}">

  <!-- Extra meta data insertions -->
  {% block additional_head %}{% endblock additional_head %}

  <!-- Extra CSS stylesheet insertions -->
  {% block additional_css %}{% endblock additional_css %}

  <body>
    <!-- Sidebar Header -->
    {% include 'header.html' %}

    <div class="main-wrapper">
      {% block content %}{% endblock content %}
    </div>

    <!-- Global Footer & Bottom Bar-->
    {% include 'footer.html' %}

    {% include 'js.html' %}

    <!-- Additional Page Specific JavaScript -->
    {% block additional_js %}{% endblock additional_js %}
  </body>
</html>