{% load google_analytics_tags %}

<!doctype html>
<html lang="en">
  {% include 'head.html' %}

  <!-- Extra meta data insertions -->
  {% block additional_head %}{% endblock additional_head %}

  <!-- Extra CSS stylesheet insertions -->
  {% block additional_css %}{% endblock additional_css %}

  <body>
    <!-- Sidebar Header -->
    {% include 'header.html' %}

    <div class="main-wrapper">
      <!-- Content injected here -->
      {% block content %}{% endblock content %}

      <!-- Global Footer -->
      {% include 'footer.html' %}
    </div>

    {% include 'js.html' %}

    <!-- Additional Page Specific JavaScript -->
    {% block additional_js %}{% endblock additional_js %}
  </body>
</html>