<div class="bottom-bar">
  <div class="container">
    <div class="row">
      <small class="copyright col-md-6 col-12 mt-2">&copy; 2019 - {% now 'Y' %} waynelambert.dev</small>
      <div class="social-container col-md-6 col-12">
        <ul class="social list-inline">
          <li class="last list-inline-item">
            <a href="https://www.linkedin.com/in/waynealambert/" target="_blank">
            <i class="fab fa-linkedin-in fa-w-16"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/WayneLambert/" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
          <li class="list-inline-item">
            <a href="https://stackoverflow.com/users/11211077/wayne-lambert?tab=profile" target="_blank">
            <i class="fab fa-stack-overflow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>