{% extends 'base.html' %}

{% block content %}
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
      <figure class="blog-banner">
        <a href="#"><img class="img-fluid" 
          src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/business-meeting-with-laptops.jpg" 
          alt="image">
        </a>
      </figure>
      <section class="cta-section">
        <div class="container text-center single-col-max-width">
          <div class="intro">
            <p>Please fill in the contact form below or send me an email at <a href="mailto:contact@waynelambert.dev">contact@waynelambert.dev</a></p>
          </div>
        </div>
      </section>
      <section class="contact-section px-3 py-5 p-md-5">
        <div class="container">
          <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="post" action="">
            {% csrf_token %}
            <h3 class="text-center mb-3">Get In Touch</h3>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="sr-only" for="cname">First Name</label>
                <input type="text" class="form-control" id="cname" name="name" placeholder="First Name" minlength="2" required="" aria-required="true">
              </div>
              <div class="form-group col-md-6">
                <label class="sr-only" for="cname">Last Name</label>
                <input type="text" class="form-control" id="cname" name="name" placeholder="Last Name" minlength="2" required="" aria-required="true">
              </div>
              <div class="form-group col-md-12">
                <label class="sr-only" for="cemail">Email</label>
                <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" aria-required="true">
              </div>
              <div class="form-group col-12">
                <label class="sr-only" for="cmessage">Your message</label>
                <textarea class="form-control" id="cmessage" name="message" 
                  placeholder="Enter your message" rows="10" required="" aria-required="true">
                </textarea>
              </div>
              <div class="form-group col-12">
                <button type="submit" class="btn btn-block btn-primary py-2">Send Now</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
          <div class="intro">
            <p>Feel free to connect using the social media channels below.</p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-3">
                <a class="github" href="https://github.com/WayneLambert/"
                  target="_blank">
                  <i class="fab fa-github-alt fa-fw fa-lg"></i>
                </a>
              </li>
              <li class="list-inline-item mb-3">
                <a class="stack-overflow" href="https://stackoverflow.com/users/11211077/wayne-lambert?tab=profile" 
                  target="_blank">
                  <i class="fab fa-stack-overflow fa-fw fa-lg"></i>
                </a>
              </li>
              <li class="list-inline-item mb-3">
                <a class="linkedin" href="https://www.linkedin.com/in/waynealambert/" 
                  target="_blank">
                  <i class="fab fa-linkedin-in fa-fw fa-lg"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </article>
{% endblock content %}