{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <a class="btn btn-primary" href="#" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Download PDF Version</a>
    </div><!--//container-->
  </section>
  <div class="container px-3 px-lg-5">
    <article class="cv-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
      <div class="cv-header">
        <div class="row align-items-center">
          <div class="cv-title col-12 col-md-6 col-lg-8 col-xl-9">
            <h2 class="cv-name mb-0">Wayne Lambert</h2>
            <div class="cv-tagline mb-3 mb-md-0">Software Engineer</div>
          </div><!--//cv-title-->
          <div class="cv-contact col-12 col-md-6 col-lg-4 col-xl-3">
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="cv-link" href="tel:#">07950 315504</a></li>
              <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a class="cv-link" href="mailto:#">contact@waynelambert.dev</a></li>
              <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="cv-link" href="#">waynelambert.dev</a></li>
              <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Edgbaston, Birmingham</li>
            </ul>
          </div><!--//cv-contact-->
        </div><!--//row-->
      </div><!--//cv-header-->
      <hr>
      <div class="cv-intro py-3">
        <div class="media flex-column flex-md-row align-items-center">
          <img class="cv-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{% static 'assets/images/gravatar.jpg' %}" alt="image">
          <div class="media-body text-left">
            <p class="mb-0">Summarise your career here. <a class="theme-link" href="#" target="_blank">You can make a PDF version of your cv using our free Sketch template here</a>.</p>
          </div><!--//media-body-->
        </div>
      </div><!--//cv-intro-->
      <hr>
      <div class="cv-body">
        <div class="row">
          <div class="cv-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
            <section class="work-section py-3">
              <h3 class="text-uppercase cv-section-heading mb-4">Work Experiences</h3>
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Engineer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Google | 2019 - Present</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis.</p>
                  <ul class="cv-list">
                    <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                    <li>Aenean commodo ligula eget dolor.</li>
                    <li>Etiam ultricies nisi vel augue.</li>
                  </ul>
                </div>
              </div><!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Lead Software Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Apple | 2016 - 2019</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.</p>
                  <ul class="cv-list">
                    <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                    <li>Aenean commodo ligula eget dolor.</li>
                  </ul>
                </div>
              </div><!--//item-->
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Software Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Dropbox | 2014 - 2016</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Senior Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Uber | 2013 - 2014</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Backend Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Amazon | 2014 - 2016</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Frontend Developer</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Startup | 2013 - 2014</div>
                  
                </div>
                <div class="item-content">
                  <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus. </p>
                </div>
              </div><!--//item-->
              
            </section><!--//work-section-->

            
            <section class="project-section py-3">
              <h3 class="text-uppercase cv-section-heading mb-4">Projects</h3>
              <div class="item mb-3">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Lorem Ipsum</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
                  
                </div>
                <div class="item-content">
                  <p>You can use this section for your side projects. You can <a href="#" class="theme-link">provide a project link here</a> as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  
                  
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Sed Fringilla</h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
                  
                </div>
                <div class="item-content">
                  <p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                  
                </div>
              </div><!--//item-->
              <div class="item">
                <div class="item-heading row align-items-center mb-2">
                  <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Praesent </h4>
                  <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Open Source</div>
                  
                </div>
                <div class="item-content">
                  <p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                  
                </div>
              </div><!--//item-->
            </section><!--//project-section-->	
          </div><!--//cv-main-->
          <aside class="cv-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
            <section class="skills-section py-3">
              <h3 class="text-uppercase cv-section-heading mb-4">Skills</h3>
              <div class="item">
                <h4 class="item-title">Technical</h4>
                <ul class="list-unstyled cv-skills-list">
                  <li class="mb-2">JavaScript/Angular/React/Vue</li>
                  <li class="mb-2">Python/Ruby/PHP<li>
                    <li class="mb-2">Node.js/ASP.NET</li>
                    <li class="mb-2">PostgreSQL/MySQL</li>
                    <li class="mb-2">Object-oriented design</li>
                    <li class="mb-2">Design and implement database structures</li>
                    <li>Lead and deliver complex software systems</li>
                  </ul>
                </div><!--//item-->
                <div class="item">
                  <h4 class="item-title">Professional</h4>
                  <ul class="list-unstyled cv-skills-list">
                    <li class="mb-2">Effective communication</li>
                    <li class="mb-2">Team player<li>
                      <li class="mb-2">Strong problem solver</li>
                      <li>Good time management</li>
                    </ul>
                  </div><!--//item-->
                </section><!--//skills-section-->
                <section class="education-section py-3">
                  <h3 class="text-uppercase cv-section-heading mb-4">Education</h3>
                  <ul class="list-unstyled cv-education-list">
                    <li class="mb-3">
                      <div class="cv-degree font-weight-bold">MSc in Computer Science</div>
                      <div class="cv-degree-org text-muted">University College London</div>
                      <div class="cv-degree-time text-muted">2010 - 2011</div>
                    </li>
                    <li>
                      <div class="cv-degree font-weight-bold">BSc Maths and Physics</div>
                      <div class="cv-degree-org text-muted">Imperial College London</div>
                      <div class="cv-degree-time text-muted">2007 - 2010</div>
                    </li>
                  </ul>
                </section>
                <!-- Interests section -->
                <section class="skills-section py-3">
                  <h3 class="text-uppercase cv-section-heading mb-4">Interests</h3>
                  <ul class="list-unstyled cv-interests-list mb-0">
                    <li class="mb-2">Travelling</li>
                    <li class="mb-2">Programming</li>
                    <li class="mb-2">Data Science</li>
                    <li class="mb-2">Reading</li>
                  </ul>
                </section>
              </aside>
            </div>
      </div>
      <hr>
      {% include 'cv_footer.html' %}
    </article>
  </div>
{% endblock content %}