{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Skills{% endblock title %}

{% block content %}
  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      <h2 class="heading text-center">Web Developer Skills</h2>
      <div class="project-intro text-center">
        <p class="mb-0 lead">Below is some information to add context around my web development skills</p>
      </div>
    </div>
  </section>

  <!--- Python -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <img class="mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" width="400px" height="300px"
          src="{% static 'assets/images/skills/python-code.jpg' %}" alt="Python Code">
        <div class="media-body">
          <div class="client-info">
            <ul class="client-meta list-unstyled">
              <li class="mb-2"><i class="fab fa-python mr-2"></i><strong>Python:</strong> Back End Web Development, Data Science, Scripting</li>
            </ul>
            <hr>
            <h5 class="font-weight-bold mb-4">Introduction</h5>
            <div class="client-bio mb-4">
              <p>
                Insert skills blurb here...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}