{% load static %}

<header class="header text-center">
  <div class="force-overflow">
    <nav class="navbar navbar-expand-lg navbar-dark" >
      <div id="navigation" class="collapse navbar-collapse flex-column" >
        <div class="profile-section pt-3 pt-lg-0">
          <div class="profile-avatar rounded-circle mx-auto mt-2 mb-1">
            <div class="inner">
              <a href="{% url 'pages:home' %}"><img class="profile-image rounded-circle" 
                src="{% static 'assets/images/gravatar.jpg' %}" alt="Wayne Lambert">
              </a>
            </div>
          </div>
          <p class="blog-name">
            <a href="{% url 'pages:home' %}">Wayne Lambert</a>
          </p>
          {% include 'components/social_buttons.html' %}
        </div>
        <hr class="col-8">

        <ul class="navbar-nav flex-column text-left">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:home' %}"><i class="fa fa-home mr-2"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:portfolio' %}"><i class="fa fa-briefcase mr-2"></i>Portfolio Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cv:cv' %}"><i class="fa fa-align-left mr-2"></i>CV</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-blog fa-fw mr-1"></i>Blog
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'blog:home' %}"><i class="fas fa-home fa-fw mr-2"></i>Home</a>
              <a class="dropdown-item" href="{% url 'blog:index' %}"><i class="fa fa-list mr-2"></i>Index</a>
              <a class="dropdown-item" href="{% url 'blog:contents' %}"><i class="fa fa-info-circle mr-2"></i>Contents</a>
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'blog:post_create' %}">
                  <i class="fa fa-pencil mr-2"></i>Create Post
                </a>
              {% endif %}
            </div>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw mr-1"></i>Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog:users:profile' user.user.slug %}"><i class="fa fa-user-circle mr-2"></i>View Profile</a>
                <a class="dropdown-item" href="{% url 'blog:users:profile_update' user.user.slug %}"><i class="fa fa-pencil mr-2"></i>Update Profile</a>
                <a class="dropdown-item" href="{% url 'blog:users:logout' %}"><i class="fa fa-sign-out mr-2"></i>Logout</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw mr-2"></i>Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog:users:login' %}"><i class="fa fa-sign-in mr-2"></i>Login</a>
                <a class="dropdown-item" href="{% url 'blog:users:register' %}"><i class="fa fa-handshake-o mr-2"></i>Register</a>
              </div>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:contact' %}"><i class="fa fa-envelope mr-2"></i>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:about_me' %}"><i class="fa fa-info-circle mr-2"></i>About Me</a>
          </li>
        </ul>
        <hr class="col-8">
        {% if 'blog' in request.path and 'users' not in request.path and 'post/new' not in request.path and '/update/' not in request.path %}
          {% include 'blog/category_sidebar.html' %}
        {% endif %}
        <!-- Dark Mode Toggle -->
        {% include 'components/dark_mode_toggle.html' %}
    </nav>
  </div>
</header>