{% load static %}

<header class="header text-center">
  <div class="force-overflow">
    <nav class="navbar navbar-expand-lg navbar-dark" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navigation" aria-controls="navigation" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navigation" class="collapse navbar-collapse flex-column" >
        <div class="profile-section pt-3 pt-lg-0">
          <div class="profile-avatar">
            <div class="inner">
              <img class="profile-image" src="{% static 'assets/images/gravatar.jpg' %}" alt="Wayne Lambert">
            </div>
          </div>
          
          <h6 class="blog-name"><a href="{% url 'pages:home' %}">Wayne Lambert</a></h6>
          <div class="bio mb-3">Hi, my name is Wayne Lambert and I'm an aspiring software engineer. Welcome to my personal website!</div>
          <ul class="social-list list-inline py-2 mx-auto">
            <li class="list-inline-item">
              <a href="https://github.com/WayneLambert/" target="_blank">
                <i class="fab fa-github-alt fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://stackoverflow.com/users/11211077/wayne-lambert?tab=profile" target="_blank">
                <i class="fab fa-stack-overflow fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/waynealambert/" target="_blank">
                <i class="fab fa-linkedin-in fa-fw"></i>
              </a>
            </li>
          </ul>
          <hr> 
        </div>

        <ul class="navbar-nav flex-column text-left">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:portfolio' %}">
              <i class="fas fa-laptop-code fa-fw mr-2"></i>
              Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:cv' %}">
              <i class="fas fa-file-alt fa-fw mr-2"></i>
              CV
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog_home' %}">
              <i class="fas fa-blog fa-fw mr-2"></i>
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:contact' %}">
              <i class="fas fa-envelope-open-text fa-fw mr-2"></i>
              Contact
            </a>
          </li>
        </ul>

        <!-- Dark Mode Toggle Button -->
        <div class="dark-mode-toggle text-center w-100">
          <hr class="mb-4">
            <h4 class="toggle-name mb-3 "><i class="fas fa-adjust mr-1"></i>Dark Mode</h4>
            <input class="toggle" id="darkmode" type="checkbox">
              <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
            </input>
        </div>
      </div>
    </nav>
  </div>
</header>