{% load static %}

<header class="header text-center">
  <div class="force-overflow">
    <nav class="navbar navbar-expand-lg navbar-dark" >
      <div id="navigation" class="collapse navbar-collapse flex-column" >
        <div class="profile-section pt-3 pt-lg-0">
          <div class="profile-avatar rounded-circle mt-2 mb-1">
            <div class="inner">
              <img class="profile-image rounded-circle" src="{% static 'assets/images/gravatar.jpg' %}" alt="Wayne Lambert">
            </div>
          </div>
          <p class="blog-name"><a href="{% url 'pages:home' %}">Wayne Lambert</a></p>
          <div class="bio mb-3">Insert blurb here...</div>
          {% include 'layout_components/social_buttons.html' %}
          <hr>
        </div>

        <ul class="navbar-nav flex-column text-left">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:portfolio' %}"><i class="fa fa-briefcase mr-2"></i>Portfolio Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cv:cv' %}"><i class="fa fa-align-left mr-2"></i>CV</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-blog fa-fw mr-2"></i>Blog
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'blog:home' %}"><i class="fas fa-home fa-fw mr-2"></i>Home</a>
              <a class="dropdown-item" href="{% url 'blog:contents' %}"><i class="fa fa-list mr-2"></i>Contents</a>
              <a class="dropdown-item" href="#"><i class="fa fa-rss mr-2"></i>Subscribe</a>
            </div>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw mr-2"></i>Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'blog:users:profile' user.user.slug %}"><i class="fa fa-user-circle mr-2"></i>View Profile</a>
                <a class="dropdown-item" href="{% url 'blog:users:profile_update' user.user.slug %}"><i class="fa fa-pencil mr-2"></i>Update Profile</a>
                <a class="dropdown-item" href="{% url 'blog:post_create' %}"><i class="fa fa-pencil mr-2"></i>Create Post</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out mr-2"></i>Logout</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw mr-2"></i>Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'users:login' %}"><i class="fa fa-sign-in mr-2"></i>Login</a>
                <a class="dropdown-item" href="{% url 'users:register' %}"><i class="fa fa-handshake-o mr-2"></i>Register</a>
              </div>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:contact' %}"><i class="fa fa-envelope mr-2"></i>Contact</a>
          </li>
        </ul>
        <hr>
        {% if 'blog' in request.path %}
          {% include 'blog/category_sidebar.html' %}
        {% endif %}
        <!-- Dark Mode Toggle -->
        <div class="dark-mode-toggle text-center w-100 mb-5">
          <hr class="mb-4">
            <h4 class="toggle-name mb-3 "><i class="fas fa-adjust mr-1"></i>Dark Mode</h4>
            <input class="toggle" id="darkmode" type="checkbox">
            <label class="toggle-btn mx-auto mb-0" for="darkmode"></label>
        </div>
      </div>
    </nav>
  </div>
</header>