{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Portfolio{% endblock title %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h2 class="heading">Portfolio</h2>
      <div class="intro">
        <p>
          Welcome to my Portfolio website demonstrating skills with Python, Django, 
          JavaScript, HTML, CSS, Sass, PostgreSQL, PyTest, Docker and Git
        </p>
      </div>
      <a class="btn btn-primary" href="{% url 'contacts:contact' %}" target="_blank">
        <i class="fas fa-envelope mr-2"></i>Contact Me
      </a>
    </div>
  </section>
  <section class="projects-list px-3 py-5 p-md-5">
    <div class="container">
      <!-- Project Filters -->
      <div class="text-center">
        <ul id="filters" class="filters mb-5 mx-auto pl-0">
          <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
          <li class="type mb-3 mb-lg-0" data-filter=".djangoapp">Django</li>
          <li class="type mb-3 mb-lg-0" data-filter=".pythonapp">Python</li>
          <li class="type mb-3 mb-lg-0" data-filter=".datasciencework">Data Science</li>
        </ul>
      </div>
      <!--- Projects -->
      <div class="project-cards row isotope">
        {% include 'projects/work_search.html' %}
        {% include 'projects/blog.html' %}
        {% include 'projects/countdown_letters.html' %}
        {% include 'projects/countdown_numbers.html' %}
        {% include 'projects/roulette.html' %}
        {% include 'projects/scraping.html' %}
        {% include 'projects/text_analysis.html' %}
        {% include 'projects/data_science.html' %}
      </div>
    </div>
  </section>
  {% block additional_js %}
    <!--Page Specific JS -->
    <script type="text/javascript" src="{% static 'assets/plugins/imagesloaded.pkgd.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/plugins/isotope.pkgd.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/js/isotope-custom.js' %}"></script>
  {% endblock additional_js %}
{% endblock content %}