{% extends 'cv_base.html' %}

{% load static %}

{% block title %}{{ block.super }} | Senior Software Engineer{% endblock title %}

{% block desc %}
  Senior Software Engineer specialising in scalable distributed systems, data processing, and high-performance
  backend architecture.
{% endblock desc %}

{% block content %}
  <div class="container px-3 px-lg-5">
    <article class="cv-wrapper mx-auto theme-bg-light p-5 mb-5 my-1 shadow-lg">
      {% include 'components/header.html' %}
      {% include 'components/statement.html' %}
      <hr>
      <div class="cv-body">
        <div class="row">
          <div class="cv-main col-12 col-lg-8 col-xl-8 pr-0 pr-lg-3">
            {% include 'components/career_history.html' %}
          </div>
          <aside class="cv-aside col-12 col-lg-4 col-xl-4 px-lg-4">
            <section class="technical-expertise-section py-1">
              {% include 'components/technical_expertise.html' %}
              <hr>
              {% include 'components/education.html' %}
              <hr>
              {% include 'components/interests.html' %}
            </section>
          </aside>
        </div>
      </div>
      {% include 'components/footer.html' %}
    </article>
  </div>
{% endblock content %}
