{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Access Not Permitted{% endblock title %}

{% block content %}
  <article class="blog-post px-3 py-3 p-md-5">
    <div class="container theme-bg-light single-col-max-width mt-3">
      <section class="cta-section py-5">
        <div class="container text-center single-col-max-width">
          <h5 class="error-text">
            <p><b><u>Access Forbidden</u>:</b> You are not able to access this content.</p>
          </h5>
          <p>Please go back on your browser or navigate to another page.</p>
          <h1 class="text mb-5"><span>403</span></h1>
          <h6>Here are a few places you might want to go...</h6>
          <div class="mb-2 py-2">
            <a class="btn btn-primary mr-2 mb-3" href="{% url 'pages:portfolio' %}">
              <i class="fas fa-briefcase mr-1"></i>
              <span class="d-none d-md-inline">Portfolio</span>
            </a>
            <a class="btn btn-success mr-2 mb-3" href="{% url 'blog:home' %}">
              <i class="fas fa-blog mr-1"></i>
              <span class="d-none d-md-inline">Blog</span>
            </a>
            <a class="btn btn-link btn-github mr-2 mb-3" href="https://github.com/WayneLambert/portfolio" target="_blank">
              <i class="fa fa-github mr-1"></i>
              <span class="d-none d-md-inline">Code</span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </article>
{% endblock content %}