<section class="overview-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-3">Portfolio Project Reviews</h2>
    <div class="section-intro mb-5">The following links review the projects that I have created in terms of their planning, development challenges and lessons learned.</div>
    <div class="row">

      <!-- Blog Project -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <span class="iconify mr-2" data-icon="cib:django" data-inline="false"></span>
            <i class="fab fa-python mr-2"></i>
            <span class="iconify mr-2" data-icon="logos:postgresql" data-inline="false"></span>
          </div>
          <h3 class="item-title">Blog</h3>
          <div class="item-desc">Read my detailed review of the Django Blog project</div>
          <p>
            <a class="more theme-link" href="{% url 'pages:blog_review' %}">Read more<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Blog API Endpoints Project -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <span class="iconify mr-2" data-icon="cib:django" data-inline="false"></span>
          </div>
          <h3 class="item-title">Blog API Endpoints</h3>
          <div class="item-desc">Read my detailed review of the Blog API Endpoints project</div>
          <p>
            <a class="more theme-link" href="{% url 'pages:api_review' %}">Read more<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Countdown Letters -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Countdown Letters</h3>
          <div class="item-desc">Read my detailed review of the Countdown Letters project</div>
          <p>
            <a class="more theme-link" href="{% url 'pages:countdown_letters_review' %}">Read more<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Countdown Numbers -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Countdown Numbers</h3>
          <div class="item-desc">Read my detailed review of the Countdown Numbers project</div>
          <p>
            <a class="more theme-link" href="{% url 'pages:countdown_numbers_review' %}">Read more<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Holiday Roulette -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Holiday Roulette</h3>
          <div class="item-desc">Read my detailed review of the Holiday Roulette project.</div>
          <p>
            <a class="more theme-link" href="#">Coming Soon<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Scraping -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Scraping</h3>
          <div class="item-desc">Read my detailed review of the Scraping project.</div>
          <p>
            <a class="more theme-link" href="#">Coming Soon<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Text Analysis -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Text Analysis</h3>
          <div class="item-desc">Read my detailed review of the Text Analysis project.</div>
          <p>
            <a class="more theme-link" href="#">Coming Soon<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

      <!-- Data Science -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <span class="iconify mr-2" data-icon="logos:jupyter" data-inline="false"></span>
            <i class="fab fa-python mr-2"></i>
            <span class="iconify mr-2" data-icon="simple-icons:pandas" data-inline="false"></span>
          </div>
          <h3 class="item-title">Data Science</h3>
          <div class="item-desc">Read my detailed review of my Data Science projects.</div>
          <p>
            <a class="more theme-link" href="#">Coming Soon<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

{% block additional_js %}
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock additional_js %}