<section class="work-section py-3">
  <h3 class="text-uppercase cv-section-heading mb-4">Applications Development</h3>
  <div class="item mb-3">
    <!-- Salary Ranges Planning Tool -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Salary Ranges Planning Tool</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Deutsche Bank | Nov 16 - May 19</div>
    </div>
    <div class="item-content mb-3">
      Designed and developed a salary ranges VBA tool enabling employee target ranges to be cost-contained for a global
      cost catalyst initiative led by the Chief Financial Officer.
    </div>

    <!-- Workflow Assignment Tool -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Workflow Assignment Tool</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Deutsche Bank | Nov 16 - May 19</div>
    </div>
    <div class="item-content mb-3">
      Developed Access / Excel VBA solutions automating assignment of inbound team emails and sending of email broadcasts
      to circa 40,000 employees.
    </div>

    <!-- Email Tool -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Email Tool</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">Deutsche Bank | Nov 16 - May 19</div>
    </div>
    <div class="item-content mb-3">
      Developed an Excel VBA tool enabling business users to email over 10,000 employees including multiple attachments
      within approximately 10 minutes.
    </div>
  </div>
</section>
