{% load static %}
{% load ext_links %}

<header class="cv-header pt-4 pt-md-0">
  <div class="media flex-column flex-md-row">
    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
      <div class="primary-info">
        <h1 class="name mt-0 mb-2 text-white">Wayne Lambert</h1>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>
            <a href="{% google_maps_location_link %}" 
              target="_blank">Edgbaston, Birmingham
            </a>
          </li>
          <li class="mb-2">
            <i class="far fa-envelope fa-fw fa-lg mr-2" data-fa-transform="grow-3"></i>
            <a href="{% email_me_link %}">contact@waynelambert.dev</a>
          </li>
          <li>
            <i class="fas fa-mobile-alt fa-fw fa-lg mr-2" data-fa-transform="grow-6"></i>
            <a href="#">+44 (0)7950 315504</a>
          </li>
        </ul>
      </div>

      <div class="secondary-info ml-md-auto mt-2">
        <ul class="cv-social list-unstyled">
          <li class="mb-2">
            <a href="{% url 'pages:home' %}" target="_blank">
              <span class="fa-container text-center mr-3"><i class="fas fa-globe"></i></span>Website
            </a>
          </li>
          <li class="mb-2">
            <a href="{% github_profile_link %}" target="_blank">
              <span class="fa-container text-center mr-3"><i class="fab fa-github-alt fa-fw"></i></span>GitHub
            </a>
          </li>
          <li class="mb-2">
            <a href="{% stack_overflow_profile_link %}" target="_blank">
              <span class="fa-container text-center mr-3"><i class="fab fa-stack-overflow fa-fw"></i></span>Stack Overflow
            </a>
          </li>
          <li class="mb-2">
            <a href="{% linkedin_profile_link %}" target="_blank">
              <span class="fa-container text-center mr-3"><i class="fab fa-linkedin-in fa-fw"></i></span>LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>