<h3 class="text-uppercase cv-section-heading mb-4">Skills</h3>
<div class="item">
  <h4 class="item-title">Technical</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:back_end_skills' %}#django" target="_blank">Django / Django REST</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:back_end_skills' %}#python" target="_blank">Python</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:back_end_skills' %}#pytest" target="_blank">pytest</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:back_end_skills' %}#postgres" target="_blank">PostgreSQL</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:front_end_skills' %}#html" target="_blank">HTML / Sass</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:front_end_skills' %}#bootstrap" target="_blank">Bootstrap</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:front_end_skills' %}#javascript" target="_blank">JavaScript</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:infrastructure_skills' %}#docker" target="_blank">Docker</a>
    </li>
    <li class="mb-2">
      <a class="theme-link" href="{% url 'pages:infrastructure_skills' %}#git" target="_blank">Git / GitHub</a>
    </li>
  </ul>
</div>
<div class="item">
  <h4 class="item-title">Professional</h4>
  <ul class="list-unstyled cv-skills-list">
    <li class="mb-2">Stakeholder Management</li>
    <li class="mb-2">Agile</li>
    <li class="mb-2">Project Management</li>
    <li class="mb-2">Strong problem solver</li>
  </ul>
</div>
