<div class="cv-intro">
  <div class="media flex-column flex-md-row align-items-center">
    <div class="media-body text-left">
      <p class="mb-0">From the moment I developed my first Excel and Access VBA projects,
      I knew that I wanted to pursue a career developing software with an intuitive end
      user experience solving complex problems.
      </p>
      <p class="mb-0 py-2">Having an extensive background in Business Intelligence,
      Applications Development, and ETL Projects, I enjoy developing innovative solutions
      for people who like things “to just work” in the way they would expect.
      </p>
    </div>
  </div>
</div>
