{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      {% include 'roulette/layout_components/game_title.html' %}
    </div>
  </section>
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <div class="media-body text-center">
          <!-- Instructions -->
          <div class="d-flex flex-column col-12 mb-3 mt-3">
            <div>Click the button below to find out where you're going on holiday next!</div>
          </div>
          <!-- Button -->
          <button class="btn btn-sm btn-success mt-3" 
            onclick="window.location='{% url 'roulette:holiday_destination' %}';return false;">
            <i class="fa fa-plane"></i>
            Start Again
          </button>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}