{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} | Roulette | Log File{% endblock title %}

{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
      {% include 'roulette/components/game_title.html' %}
    </div>
  </section>
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
        <div class="media-body text-center">
          <div class="text-small"><strong>Note:</strong> The process was purposefully slowed down with
          the 'sleep' function to build suspense for the purposes of the game.</div>
          <div class="text-small mb-2"><strong>Note:</strong> Times are in UTC time zone.</div>
          <h6>The code for this holiday roulette simulation can be seen at
            <a href="https://github.com/WayneLambert/portfolio/blob/master/roulette/views.py"
            target="_blank">here</a>.
          </h6>
        </div>
      </div>
    </div>
  </section>

  <h6 class="text-center">The contents of the log file were:</h6>
  <!--- Log File -->
  <div class="container px-lg-5">
    <article class="cv-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
      <div class="log-file-contents">
        {% for line in log_file_contents %}
          {{ line }}
        {% endfor %}
      </div>
    </article>
  </div>
{% endblock content %}