{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Holiday Roulette Game Log File</title>
  </head>

  <body>
    {% block content %}
      <div class="alert alert-light col-md-10 mb-0" role="alert">
        <h6>The contents of the log file were:</h6>
        <div class="log-file-contents">
          {% for line in log_file_contents %}
            {{ line }}<br>
          {% endfor %}
        </div>
      </div><br>
    {% endblock content %}
  </body>
</html>
