<section class="featured-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-5">Featured Projects</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="static/assets/images/project/project-1.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Work Search App</a></h5>
                <p class="card-text">Project intro lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">	
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="https://wl-portfolio.s3.eu-west-2.amazonaws.com/post_images/countdown_letters.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Countdown: Letters Game</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="static/assets/images/project/project-3.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Countdown: Numbers Game</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-6 mb-5">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="static/assets/images/project/project-4.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a href="project.html" class="theme-link">Holiday Roulette</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" href="project.html"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" href="project.html">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//row-->
    <div class="text-center py-3"><a href="{% url 'pages:portfolio' %}" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right mr-2"></i>View Portfolio</a></div>
  </div><!--//container-->
</section><!--//featured-section-->