<section class="about-me-section p-3 p-lg-5 theme-bg-light">
  <div class="container">
    <div class="profile-teaser media flex-column flex-lg-row">
      <div class="media-body">
        <h2 class="name font-weight-bold mb-1">Wayne Lambert</h2>
        <div class="bio mb-4">
          <p>Welcome to my portfolio website. Feel free to take a look around.</p> 
        </div>
        <div class="mb-2">
          <a class="btn btn-primary mr-2 mb-3" href="{% url 'pages:portfolio' %}">
            <i class="fas fa-briefcase mr-2"></i>
            <span class="d-none d-md-inline">Portfolio</span>
          </a>
          <a class="btn btn-success mr-2 mb-3" href="{% url 'blog:home' %}">
            <i class="fas fa-blog mr-2"></i>
            <span class="d-none d-md-inline">Blog</span>
          </a>
          <a class="btn btn-secondary mb-3" href="{% url 'cv:cv' %}">
            <i class="fas fa-align-left mr-2"></i>
            <span class="d-none d-md-inline">CV</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>