<section class="about-me-section p-3 p-lg-5 theme-bg-light">
  <div class="container">
    <div class="profile-teaser media flex-column flex-lg-row">
      <div class="media-body">
        <h2 class="name font-weight-bold mb-1">Wayne Lambert</h2>
        <div class="tagline mb-3">Software Engineer</div>
        <div class="bio mb-4">I'm a software engineer specialised in frontend and backend development for complex scalable web apps. I write about software development on <a class="link-on-bg" href="#">my blog</a>. Want to know how I may help your project? Check out my project <a class="link-on-bg" href="{% url 'pages:portfolio' %}">portfolio</a> and <a class="link-on-bg" href="#">online CV</a>.
        </div>
        <div class="mb-4">
          <a class="btn btn-primary mr-2 mb-3" href="{% url 'pages:portfolio' %}">
            <i class="fas fa-arrow-alt-circle-right mr-2"></i>
            <span class="d-none d-md-inline">View</span> Portfolio
          </a>
          <a class="btn btn-secondary mb-3" href="#"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> CV</a>
        </div>
      </div>
    </div>
  </div>
</section>