<section class="overview-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-3">Skills</h2>
    <div class="section-intro mb-5">I have more than 10 years' experience building software for clients all over the world. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a href="cv.html">online cv</a> and <a href="portfolio.html">project portfolio</a>.</div>
    <div class="row">
      <!-- Skill 1 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Python</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 2 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-python"></i></div>
          <h3 class="item-title">Django</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 3 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-angular mr-2"></i><i class="fab fa-react mr-2"></i><i class="fab fa-vuejs"></i></div>
          <h3 class="item-title">Angular, React &amp;  Vue</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 4 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-node-js"></i></div>
          <h3 class="item-title">Node.js</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 5 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-php"></i></div>
          <h3 class="item-title">PHP</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 6 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-npm mr-2"></i><i class="fab fa-gulp mr-2"></i><i class="fab fa-grunt"></i></div>
          <h3 class="item-title">npm, Gulp &amp; Grunt</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill: HTML, CSS & Bootstrap -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-html5 mr-2"></i><i class="fab fa-css3-alt"></i><i class="fab fa-sass mr-2"></i><i class="fab fa-bootstrap"></i></div>
          <h3 class="item-title">HTML, CSS, Sass &amp; Bootstrap</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
      <!-- Skill 8 -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon"><i class="fab fa-sass mr-2"></i><i class="fab fa-less"></i></div>
          <h3 class="item-title">Sass &amp; LESS</h3>
          <div class="item-desc">List skills/technologies here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">FontAwesome 5 free icons</a> available. Aenean commodo ligula eget dolor.  </div>
        </div>
      </div>
    </div>
  </div>
</section>