<section class="overview-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-3">Skills</h2>
    <div class="section-intro mb-5">Skills blurb...</div>
    <div class="row">
      <!-- Languages -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fab fa-python"></i>
            <i class="fab fa-js"></i>
          </div>
          <h3 class="item-title">Languages</h3>
          <div class="item-desc">Skill blurb...</div>
        </div>
      </div>
      <!-- Web Development - Back End -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <span class="iconify" data-icon="cib:django" data-inline="false"></span>
            <span class="iconify" data-icon="logos:postgresql" data-inline="false"></span>
            <i class="fab fa-firefox mr-2"></i>
          </div>
          <h3 class="item-title">Web Dev: Back End</h3>
          <div class="item-desc">Skill blurb...</div>
        </div>
      </div>
      <!-- Web Development - Front End -->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fab fa-html5 mr-2"></i>
            <i class="fab fa-sass mr-2"></i>
            <i class="fab fa-bootstrap"></i>
            <i class="fab fa-font-awesome"></i>
          </div>
          <h3 class="item-title">Web Dev: Front End</h3>
          <div class="item-desc">Skill blurb...</div>
        </div>
      </div>
      <!-- Infrastructure-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <div class="item-icon">
            <i class="fab fa-linux mr-2"></i>
            <i class="fab fa-docker mr-2"></i>
            <i class="fab fa-git mr-2"></i>
            <i class="fab fa-github-square mr-2"></i>
          </div>
          <h3 class="item-title">Infrastructure</h3>
          <div class="item-desc">Skill blurb...</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% block additional_js %}
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock additional_js %}