<section class="testimonials-section p-3 p-lg-5">
  <div class="container">
    <h2 class="section-title font-weight-bold mb-5">Testimonials</h2>
    
    <div class="testiomonial-carousel-container">
      <div class="testimonial-carousel  tiny-slider">
                  <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-1.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">Brandon James</div>
                <div class="info">Project Manager, Google</div>
              </div>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        
        <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-2.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">Kate Sanders</div>
                <div class="info">Project Manager, Uber</div>
              </div>
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        
        <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-3.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">James Lee</div>
                <div class="info">Product Manager, Amazon</div>
              </div>
            </div>
            </div><!--//item-inner-->
        </div><!--//item-->
        
        <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-4.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">James Lee</div>
                <div class="info">Product Manager, Amazon</div>
              </div>
            </div>
            </div><!--//item-inner-->
        </div><!--//item-->
        
        <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-5.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">Olivia White</div>
                <div class="info">Product Manager, Dropbox</div>
              </div>
            </div>
            </div><!--//item-inner-->
        </div><!--//item-->
        
        <div class="item">
          <div class="item-inner">
            <div class="quote-holder">
              <blockquote class="quote-content">
                Wayne is a brilliant software engineer! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
              </blockquote>
              <i class="fas fa-quote-left"></i>
            </div><!--//quote-holder-->
            <div class="source-holder">
              <div class="source-profile">
                <img src="static/assets/images/clients/profile-6.png" alt="image"/>
              </div>
              <div class="meta">
                <div class="name">Samuel Reyes</div>
                <div class="info">CTO, StartupHub</div>
              </div>
            </div>
            </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//testimonial-carousel-->	
    </div><!--//testimonial-carousel-container-->	
  </div><!--//container-->
</section><!--//testimonials-section-->